body {
	background-color: #ebeff2;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html {
    overflow-y: scroll;
	/*
	-ms-word-break: break-all; 
	word-break: break-all; 
	*/
	word-break: break-word;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.h1, h1 {
	font-size: 30px;
	margin-top: 0px;
}

.h2, h2 {
	font-size: 24px;
}

.h3, h3 {
	font-size: 18px;
}

#headbanner {
	background-color: #009688;
	height: 145px;
	width: 100%;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
	position: absolute;
}

.alert {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

.ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.navbarSmall {
  min-height: 40px;
  margin-bottom: 10px;
}

div#logoHeader {
	margin-top: 5px;
	margin-bottom: 5px;
	position: relative;

	height: 80px;
	background-image: url('/img/rartracker-logo.png');
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

a:link, a:visited {
	text-decoration: none;
	color: #333333;
	outline: none;
	border-bottom: 1px dotted;
}

a:hover, a:active, {
	text-decoration: none;
	outline: none;
}

label.normal {
	display: inline-block;
	margin-bottom: 0px;
	font-weight: normal;
}

torrent-cell {
	display: block;
}

span.label {
	margin-right: 2px;
}

ul.nav > li > a:link,
ul.dropdown-menu > li > a:link {
	white-space: nowrap;
}
li.menu > a {
	font-size: 16px;
	border-bottom: 6px solid #FFF !important;
}

li.menuSmall > a {
	font-size: 14px;
	border-bottom: 6px solid #FFF !important;
}

li.menu.active > a, li.menuSmall.active > a {
	color: #FFF;
	border-bottom: 6px solid #009688 !important;
}

.navbar-nav > li > a {
	padding-top: 12px !important;
	padding-bottom: 8px !important;
	line-height: 14px;
}
.navbar-nav-small > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:20px !important}

.noborder {
	border: 0px !important;
}

.table-responsive {
	overflow-x: inherit;
}


.spinner {
	color: #009688;
	display: block;
	margin: auto;
	font: normal normal normal 40px FontAwesome;
}

div.container-search {
	margin-right: 30px;
}

@media (max-width: 768px) {
	.container {
		padding-right: 0px;
		padding-left: 0px;
	}
	nav {
		margin-left: 20px;
		margin-right: 20px;
	}
	li.menu.active > a, li.menuSmall.active > a {
		border-bottom: 0px !important;
		background-color: #009688 !important;
		color: #FFF !important;
	}
	#headbanner {
		height: 130px;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	div.highlightedRow  {
		padding-left: 40px;
	}
	div.container-search {
		width: 690px;
	}
	.navbar-collapse {
		padding-right: 0;
		padding-left: 0;
	}
	.navbar-nav {
		margin: 0 auto;
		display: table;
		table-layout: fixed;
		float:none;
	}
	.forumPost {
		margin-left: 160px;
	}
	.pull-right-sm {
		float: right;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.navbar-nav {
		margin: 0 auto;
		display: table;
		table-layout: fixed;
		float:none;
	}
	div.highlightedRow  {
		padding-left: 0px;
	}
	div.container-search {
		width: 910px;
	}
	.navbar-collapse:not(.in) {
		padding-right: 0;
		padding-left: 0;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	div.highlightedRow  {
		padding-left: 15px;
	}
	div.container-search {
		width: 1110px;
	}
}

.pagination>li>a, .pagination>li>span {
	color: #000;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #009688;
	border-color: #009688;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	color: #000;
}

a.noBorder {
	border-bottom: none;
}

a.whiteLink {
	color: #FFF;
}

.table-nowrap {
	table-layout:fixed;
}

.table-nowrap td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#contentContainer {
	padding-left: 15px;
  	padding-right: 15px;
	background-color: #FFF;
	min-height: 500px;
	-webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
	margin-top: 10px;
}

.navbar-default.shadow {
	-webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.navbar-default .navbar-toggle {
	background-color: #009688;
	border-color: #009688;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #000;
	border-color: #000;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #FFF;
}

nav.navbar-default {
	background-color: #FFF;
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
	border: 0px !important;
	border-radius: 0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #555;
	background-color: #FFF;
}

.panel, .table:not(.noshadow) {
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
	border-collapse: separate;
	border: 0;
	background-color: #FFF;
}

.panel-green > .panel-heading {
	color: #FFF;
	border-color: #009688;
	font-size: 11pt;
	font-weight: bold;
	background-color: #009688;
	padding: 5px 15px;
}

#statusBox {
	min-height: 78px;
	padding: 10px;
	line-height: 18px;
	display: block;
	margin-top: 10px;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
	background-color: #FFF;
}

#searchBoxInputGroup {
	max-height: 78px;
	padding: 10px;
	margin-top: 10px;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
	background-color: #FFF;
}


#searchBox {
	float: right;
}

#ui-view {
	clear: both;
	padding-top: 20px;
}

th {
	background-color: #009688;
	color: #ffffff;
    font-weight: bold;
    text-align: center;
}

td, th {
	font-size: 12px;
}

td.newCol {
	text-overflow: initial;
	vertical-align: middle !important;
	width: 0px;
}

table.table-text-center > tbody > td,
table.table-text-center > tbody > tr {
	text-align: center;
}

.table>thead>tr>th {
	border-bottom: none;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.table-stripedTv > tbody > tr:nth-of-type(4n-4) {
	background-color: #f9f9f9;
}

.table-stripedSpecial > tbody > tr:nth-of-type(4n-3) {
	background-color: #f9f9f9;
}

table {
	margin-bottom: 0px !important;
}

img.categoryImage {
	box-sizing: border-box;
	display: block;
	height: 45px;
	width: 45px;
	background-image: url('/img/icons-sprite.png');
	background-repeat: no-repeat;
}
img.categoryImage.category1 {
	background-position: 0 -390px;
}
img.categoryImage.category2 {
    background-position: 0 -345px;
}
img.categoryImage.category3 {
    background-position: 0 -435px;
}
img.categoryImage.category4 {
    background-position: 0 -210px;
}
img.categoryImage.category5 {
    background-position: 0 -120px;
}
img.categoryImage.category6 {
    background-position: 0 -255px;
}
img.categoryImage.category7 {
    background-position: 0 -165px;
}
img.categoryImage.category8 {
    background-position: 0 -615px;
}
img.categoryImage.category9 {
    background-position: 0 -300px;
}
img.categoryImage.category10 {
    background-position: 0 -480px;
}
img.categoryImage.category11 {
    background-position: 0 -525px;
}
img.categoryImage.category12 {
    background-position: 0 -570px;
}

img.forum-icon {
	float: left;
	margin-right: 8px;
	box-sizing: content-box;
	display: block;
	height: 30px;
	width: 30px;
	background-image: url('/img/icons-sprite.png');
	background-repeat: no-repeat;
}
img.forum-icon.unlocked-new {
	background-position: 0 -90px;
}
img.forum-icon.unlocked {
	background-position: 0 -60px;
}
img.forum-icon.locked-new {
	background-position: 0 -30px;
}
img.forum-icon.locked {
	background-position: 0 0;
}

.btn-primary,
.btn-primary.active,
.btn-primary.focus,
.open>.dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #009688;
	border-color: #009688;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
	color: #fff;
	background-color: #009688;
	border-color: #009688;
}

.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
	background-color: #009688;
	border-color: #009688;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
	background-color: #009688;
}

div.text-small {
	font-size: 10px;
	color: #999;
}

span.fa-styled {
	color: #009688;
	font-size: 18px;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

td.tdBold {
	font-weight: bold;
}

td.alignMiddle {
	vertical-align: middle !important;
}

.cover {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 220px;
}


img.poster {
  width: 150px;
  height: 222px;
}

td.tvTdRow {
	font-size: 14px;
	cursor: pointer;
}

.label-default {
	background-color: #E3E3E3;
	color: #555555;
}

/* Highlighted search results */
span.highlighted {
	color: #F30000;
}

.progress {
	margin-bottom: 0px;
}

.progress-bar-success {
	background-color: #009688;
}

.progress-big {
	height: 35px;
}
.progress-big > .progress-bar {
	height: 35px;
	line-height: 35px;
	font-size: 24px;
}

.text-middle {
	vertical-align: middle !important;
}

.forumtable > tbody > tr > td {
	padding: 14px !important;
}

div.quoted {
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
	padding: 10px;
}

div.forumAvatarHolder {
	width: 150px;
	float: left;
	min-height: 200px;
}

/* Remove Bootstrap highlight on button clicks */
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	outline: none !important;
}

.btn-default:not(active) {
	color: #333!important;
	background-color: #fff!important;
	border-color: #ccc!important;
}

.btn-default.active {
	color: #333!important;
	background-color: #e6e6e6 !important;
	border-color: #adadad!important;
}

.btn-default:hover {
	background-color: #e6e6e6 !important;
	border-color: #adadad !important;
}

/* Make file input look nicer in Firefox */
@-moz-document url-prefix() { 
	input[type=file] {
		padding: 0px !important;
	}
}

.badge {
	background-color: #D40000;
}

.goldstars {
	font-size: 16px;
	color: #FFCC00;
	vertical-align: middle;
}

.message-dialog {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

input.readonly-pretty {
	cursor: text !important;
	background-color: #fff !important;
}

div.post-avatar {
	width: 150px;
	height: 200px;
	background-size: 150px;
	background-repeat: no-repeat;
}

div.hoverPoster {
	position: absolute;
	z-index: 100;
	margin-top: -265px;
	margin-left: 50px;
	width: 150px;
	height: 220px;
	background-size: 150px 220px;
}

div.post-header {
	margin-bottom: 10px;
	padding: 10px;
	background-color: #f9f9f9;
	border: 1px solid #e7e7e7;
}

a.admin-color {
	color: #304FFE;
}

div.mailbox-buttons {
	padding-left: 20px;
	padding-bottom: 20px;
	float: right;
}