<div class="text-center">
	<h1>Vänner</h1>

	<div ng-hide="friends" class="fa-spinner fa-spin fa-4x fa-fw spinner"></div>
	<div ng-show="friends.length == 0" class="alert alert-warning" role="alert">Du har inga vänner</div>
	<div class="col-md-8 col-centered" ng-show="friends.length > 0">
		<table class="table table-striped table-hover">
			<tr ng-repeat="friend in friends">
				<td style="width: 100px;">
					<div style="height: 80px; overflow: hidden; background: none;">
					<img ng-if="friend.user.avatar && myself.avatars == 'yes'" ng-src="{{friend.user.avatar}}" style="width: 100px;" />
					<img ng-if="myself.avatars == 'no' || !friend.user.avatar" ng-src="/img/default-avatar.png" style="width: 100px;" />
					</div>
				</td>
				<td>
					<user user="friend.user"></user>
					<br /><br />
					Senast sedd: {{ friend.user.last_access }} ({{ friend.user.last_access | dateDifference }} sedan)
					<br /><br />
					<i>{{ friend.comment }}</i>
				</td>
				<td style="text-align: center;" class="alignMiddle">
					<button ng-click="sendMessage(friend.user)" class="btn btn-default btn-xs"><i class="fa fa-envelope-o"></i> Skicka meddelande</button>
					<br /><br />
					<button ng-click="deleteFriend(friend)" class="btn btn-default btn-xs"><i class="fa fa-trash-o"></i> Ta bort</button>
				</td>
			</tr>
		</table>
	</div>

	<br /><br />

	<h1>Blockerade</h1>

	<div ng-hide="blocked" class="fa-spinner fa-spin fa-4x fa-fw spinner"></div>
	<div ng-show="blocked.length == 0" class="alert alert-warning" role="alert">Du har inga blockerade användare</div>
	<div class="col-md-8 col-centered" ng-show="blocked.length > 0">
		<table class="table table-striped table-hover">
			<tr ng-repeat="friend in blocked">
				<td style="width: 100px;">
					<div style="height: 80px; overflow: hidden; background: none;">
					<img ng-if="friend.user.avatar && myself.avatars == 'yes'" ng-src="{{friend.user.avatar}}" style="width: 100px;" />
					<img ng-if="myself.avatars == 'no' || !friend.user.avatar" ng-src="/img/default-avatar.png" style="width: 100px;" />
					</div>
				</td>
				<td>
					<user user="friend.user"></user>
					<br /><br />
					Senast sedd: {{ friend.user.last_access }} ({{ friend.user.last_access | dateDifference }} sedan)
					<br /><br />
					<i>{{ friend.comment }}</i>
				</td>
				<td style="text-align: center;" class="alignMiddle">
					<button ng-click="deleteBlock(friend)" class="btn btn-default btn-xs"><i class="fa fa-trash-o"></i> Ta bort</button>
				</td>
			</tr>
		</table>
	</div>

	<br /><br />
	<i>För att lägga till en vän eller blockering, <a ng-click="$parent.openUserPicker();" href="#">sök först upp användarens profil</a> och använd funktionsknapparna.</i>
</div>