<div class="text-center">
	<h1 translate="ADMIN.WHITE_BLACKLIST_TITLE"></h1>

	<div class="col-md-6 col-centered">
		<table class="table table-striped" cellpadding="15">
		<tr>
			<td>{{ 'ADMIN.GROUP' | translate }}:</td>
			<td><input type="text" class="form-control" ng-model="vm.addnonscene.groupname" required /></td>
		</tr>
		<tr>
			<td>{{ 'REQUESTS.COMMENT' | translate }}:</td>
			<td><input type="text" class="form-control" ng-model="vm.addnonscene.comment" required /></td>
		</tr>
		<tr>
			<td>{{ 'FAQ.STATUS' | translate }}:</td>
			<td>
				<div class="btn-group">
					<label class="btn btn-default btn-xs" ng-model="vm.addnonscene.whitelist" uib-btn-radio="1" translate="ADMIN.ALLOWED"></label>
					<label class="btn btn-default btn-xs" ng-model="vm.addnonscene.whitelist" uib-btn-radio="0" translate="ADMIN.BANNED"></label>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="text-center"><button class="btn btn-primary" ng-click="vm.create()" translate="START.ADD"></button></td>
		</tr>
		</table>
	</div>

	<br /><br />

	<loading-indicator hide="vm.nonscene"></loading-indicator>

	<div class="col-md-6 col-centered">
		<table class="table" ng-show="vm.nonscene">
			<tr>
				<th class="text-left" translate="ADMIN.GROUP"></th>
				<th class="text-left" translate="REQUESTS.COMMENT"></th>
				<th class="text-center" translate="FAQ.STATUS"></th>
				<th class="text-center" translate="BUTTONS.DELETE"></th>
			</tr>
			<tr ng-repeat="item in vm.nonscene">
				<td>{{ ::item.groupname }}</td>
				<td>{{ ::item.comment }}</td>
				<td class="text-center">
					<span ng-if="::item.whitelist == 1" class="label label-success" translate="ADMIN.ALLOWED"></span>
					<span ng-if="::item.whitelist == 0" class="label label-danger" translate="ADMIN.BANNED"></span>
				</td>
				<td class="text-center">
					<button ng-click="vm.delete(item)" class="btn btn-xs btn-default"><i class="fa fa-trash-o"></i></button>
				</td>
			</tr>
		</table>
	</div>

</div>
