<div ng-hide="forums" class="fa-spinner fa-spin fa-4x fa-fw spinner"></div>

<div style="text-align: center; margin: 10px;">
	<button ui-sref="forum-unread-topics()" class="btn btn-default btn-xs">Visa olästa</button> 
	<button ui-sref="forum-search()" class="btn btn-default btn-xs">Sök</button> 
	<button ui-sref="forum-user-posts({id: myself.id, username: myself.username})" class="btn btn-default btn-xs">Visa mina inlägg</button>
	<button ng-click="markAllTopicsAsRead(); markingTopics = true;" ng-class="{'disabled':markingTopics}" class="btn btn-default btn-xs">Markera alla trådar som lästa</button> 
</div>

<div ng-show="myself.parkerad == 1" class="alert alert-warning" role="alert">Ditt konto är parkerat och kan därför inte visa alla sidor. Parkera upp kontot ifrån inställningarna.</div>

<div class="col-md-10 col-centered" ng-show="forums && myself.parkerad == 0">
	<table class="table table-striped table-hover table-nowrap table-text-center forumtable">
		<tr ng-repeat-start="header in forums">
			<th class="text-left">{{ header.name }}</th>
			<th class="hidden-sm hidden-xs" style="width: 100px;">Trådar</th>
			<th class="hidden-sm hidden-xs" style="width: 100px;">Inlägg</th>
			<th class="hidden-xs text-left" style="width: 300px;">Senaste inlägget</th>
		</tr>
		<tr ng-repeat-end ng-repeat="forum in header.forums">
			<td class="text-left">
				<img class="forum-icon unlocked-new" ng-if="forum.topic.post.id > forum.topic.lastPostRead" />
				<img class="forum-icon unlocked" ng-if="forum.topic.post.id <= forum.topic.lastPostRead" />
				<a href="#" ng-click="setForum(forum)" ui-sref="forum.topics({id: forum.id})"><b>{{ forum.name }}</b></a><br/>
				{{ forum.description }}
			</td>
			<td class="text-middle hidden-sm hidden-xs">{{ forum.topiccount }}</td>
			<td class="text-middle hidden-sm hidden-xs">{{ forum.postcount }}</td>
			<td class="text-left hidden-xs">
				{{ forum.topic.post.added }}<br />
				av <user user="forum.topic.user" showclass="false" icons="false"></user>
				i <b><a ui-sref="forum.topic({id: forum.topic.id, forumid: forum.topic.forumid, page: ceil(forum.topic.post.postcount/postsPerPage), 'lastpost': 1})">{{ forum.topic.subject }}</a></b>
			</td>
		</tr>
	</table>
	<br />
	<div class="col-md-8 col-md-push-2" style="background-color: #f9f9f9; border: 1px solid #ddd; padding: 6px;">
		<span ng-repeat="user in onlineUsers"><user user="user" showclass="false"></user> </span>
	</div>
</div>
