<uib-pagination max-size="10" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" previous-text="Föregående" next-text="Nästa" boundary-links="true" first-text="Första" last-text="Sista"></uib-pagination>

<div ng-hide="topics" class="fa-spinner fa-spin fa-4x fa-fw spinner"></div>

<div class="table-responsive col-md-10 col-centered nopadding" ng-show="topics">
	<table class="table table-striped table-hover table-nowrap forumtable table-text-center">
		<tr>
			<th class="text-left">Ämne</th>
			<th style="width: 80px;" class="hidden-sm hidden-xs">Svar</th>
			<th style="width: 80px;" class="hidden-sm hidden-xs">Visningar</th>
			<th style="width: 100px;" class="hidden-xs">Skapare</th>
			<th class="hidden-xs text-left" style="width: 200px;">Senaste inlägget</th>
		</tr>
		<tr ng-repeat="topic in topics">
			<td class="text-left">
				<img class="forum-icon locked-new" ng-if="topic.locked == 'yes' && topic.lastpost > topic.lastpostread" />
				<img class="forum-icon unlocked-new" ng-if="topic.locked == 'no' && topic.lastpost > topic.lastpostread"  />
				<img class="forum-icon locked" ng-if="topic.locked == 'yes' && topic.lastpost <= topic.lastpostread" />
				<img class="forum-icon unlocked" ng-if="topic.locked == 'no' && topic.lastpost <= topic.lastpostread" />

				<span ng-show="topic.sticky == 'yes'">Klistrad: </span><a ng-click="setTopic(topic)" ui-sref="forum.topic({id: topic.id, forumid: $parent.forum.id})"><b>{{ topic.subject }}</b></a>
				<a ng-click="setTopic(topic)" ui-sref="forum.topic({id: topic.id, forumid: $parent.forum.id, page: ceil(topic.postcount, postsPerPage), 'lastpost': 1})" class="noBorder"><i class="fa fa-arrow-right"></i></a>
				<br/>
				{{ topic.sub }}
			</td>
			<td class="hidden-sm hidden-xs">{{ topic.postcount }}</td>
			<td class="hidden-sm hidden-xs">{{ topic.views }}</td>
			<td class="hidden-xs"><user user="topic.user" showclass="false" icons="false"></user></td>
			<td class="hidden-xs text-left">
				{{ topic.lastpostAdded }}<br />
				av <user user="topic.lastpostUser" showclass="false" icons="false"></user>
			</td>
		</tr>
	</table>
</div>

<br /><br />
<button ng-class="{'disabled': $parent.forum.minclasscreate > myself.class}" ui-sref="forum.newTopic({id: $parent.forum.id})" class="btn btn-primary">Skapa ny tråd</button>
<br />
<uib-pagination max-size="10" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" previous-text="Föregående" next-text="Nästa" boundary-links="true" first-text="Första" last-text="Sista"></uib-pagination>