<div class="col-md-6 col-md-push-3">
	<form>
		<table class="table table-striped" cellpadding="15">
			<tr>
				<td style="width: 100px;" class="text-right tdBold alignMiddle" translate="FORUM.STICKY"></td>
				<td class="text-left">
					<div class="btn-group">
						<label class="btn btn-default btn-sm" ng-model="vm.topic.sticky" uib-btn-radio="'yes'" translate="BUTTONS.YES"></label>
						<label class="btn btn-default btn-sm" ng-model="vm.topic.sticky" uib-btn-radio="'no'" translate="BUTTONS.NO"></label>
					</div>
				</td>
			</tr>
			<tr>
				<td class="text-right tdBold alignMiddle" translate="FORUM.LOCKED"></td>
				<td class="text-left">
					<div class="btn-group">
						<label class="btn btn-default btn-sm" ng-model="vm.topic.locked" uib-btn-radio="'yes'" translate="BUTTONS.YES"></label>
						<label class="btn btn-default btn-sm" ng-model="vm.topic.locked" uib-btn-radio="'no'" translate="BUTTONS.NO"></label>
					</div>
				</td>
			</tr>
			<tr>
				<td class="text-right tdBold alignMiddle" translate="FORUM.TOPIC"></td>
				<td class="text-left">
					<input type="text" class="form-control" ng-model="vm.topic.subject" />
				</td>
			</tr>
			<tr>
				<td class="text-right tdBold alignMiddle" translate="FORUM.SUB_HEADER"></td>
				<td class="text-left">
					<input type="text" class="form-control" ng-model="vm.topic.sub" />
				</td>
			</tr>
			<tr>
				<td class="text-right tdBold alignMiddle" translate="FORUM.MOVE_THREAD"></td>
				<td class="text-left">
					<select class="form-control" ng-model="vm.topic.forumid" ng-options="i.id as i.name group by i.forumhead for i in ::vm.forums">
				</select>
				</td>
			</tr>
			<tr>
				<td class="text-right tdBold alignMiddle" translate="FORUM.DELETE_THREAD"></td>
				<td class="text-left">
					<button class="btn btn-default btn-xs" ng-click="vm.deleteTopic()"><i class="fa fa-trash-o"></i> {{ 'BUTTONS.DELETE' | translate }}</button>
				</td>
			</tr>
		</table>
	</form>
	<br />
	<button class="btn btn-primary center-block btn-sm" ng-click="vm.updateTopic()" translate="FORUM.SAVE_SETTINGS"></button>
	<br />
	<div ng-show="vm.settingsSaved" class="alert alert-success" role="alert" translate="FORUM.SETTINGS_SAVED"></div>

</div>
