<div class="text-center">

	<h1 translate="STATISTICS.TITLE"></h1>

	<div ng-show="vm.currentUser.class == 0" class="alert alert-warning" role="alert" translate="GENERAL.PAGE_ACCESS_LIMIT" translate-value-class="Actor"></div>

	<div ng-show="vm.currentUser.class > 0 && vm.dataLoaded">
		<div class="panel panel-default" style="padding: 0px;">
			<div class="panel-heading text-left" translate="MENU.USERS"></div>
			<div class="panel-body text-left">

				<div class="col-sm-6">
					<canvas class="chart chart-pie" chart-data="vm.userClassesData" chart-labels="vm.userClassesLabels" chart-legend="true">
					</canvas>
				</div>

				<div class="col-sm-6">
					<canvas class="chart chart-line" chart-data="vm.userClassesLineData" chart-labels="vm.statsDateLabels" chart-legend="true" chart-series="userClassesLabels" chart-options="{pointDot: false, datasetFill: false}">
					</canvas>
				</div>

				<div class="col-sm-6">
					<canvas class="chart chart-line" chart-data="vm.activeUsersData" chart-labels="vm.statsDateLabels" chart-legend="true" chart-series="[vm.titles.activeUsers]" chart-options="{pointDot: true, pointHitDetectionRadius: 10, tooltipTemplate: '<%= value%> st'}">
					</canvas>
				</div>

				<div class="col-sm-6">
					<canvas class="chart chart-line" chart-data="vm.activeClientsData" chart-labels="vm.statsDateLabels" chart-legend="true" chart-series="[vm.titles.activeClients]" chart-options="{pointDot: true, pointHitDetectionRadius: 10, tooltipTemplate: '<%= value%> st'}">
					</canvas>
				</div>

				<div class="col-sm-6">
					<canvas class="chart chart-line" chart-data="vm.userSharedData" chart-labels="vm.statsDateLabels" chart-legend="true" chart-series="[vm.titles.sharedPerUser]" chart-options="{pointDot: true, pointHitDetectionRadius: 10, tooltipTemplate: '<%= value%> GB'}">
					</canvas>
				</div>

				<div class="col-sm-6">
					<canvas class="chart chart-line" chart-data="vm.usersWith100LeechBonus" chart-labels="vm.statsDateLabels" chart-legend="true" chart-series="[vm.titles.usersFullLeechbonus]" chart-options="{pointDot: true, pointHitDetectionRadius: 10, tooltipTemplate: '<%= value%> st'}">
					</canvas>
				</div>

				<div class="col-sm-6">
					<canvas class="chart chart-bar" chart-data="vm.registeredUsersData" chart-labels="vm.statsDateLabels" chart-legend="true" chart-series="[vm.titles.registredUsers]" chart-options="{pointDot: true, pointHitDetectionRadius: 10, tooltipTemplate: '<%= value%> st'}">
					</canvas>
				</div>

				<div class="col-sm-6">
					<canvas class="chart chart-pie" chart-data="vm.cssThemesData" chart-labels="vm.cssThemesLabels" chart-legend="true"></canvas>
				</div>

			</div>
		</div>

		<div class="panel panel-default" style="padding: 0px;">
			<div class="panel-heading text-left" translate="TORRENTS.TORRENTS"></div>
			<div class="panel-body text-left">

				<div class="col-sm-6">
					<canvas class="chart chart-pie" chart-data="vm.torrentsPerCategoryData" chart-labels="vm.torrentsPerCategoryLabels" chart-legend="true"></canvas>
				</div>

				<div class="col-sm-6">
					<canvas class="chart chart-line" chart-data="vm.torrentsPerCategoryLineData" chart-labels="vm.statsDateLabels" chart-legend="true" chart-series="torrentsPerCategoryLabels" chart-options="{pointDot: false, datasetFill: false}">
					</canvas>
				</div>

				<div class="col-sm-6">
					<canvas class="chart chart-line" chart-data="vm.totalSharedData" chart-labels="vm.statsDateLabels" chart-legend="true" chart-series="[vm.titles.totalShared]" chart-options="{pointDot: true, pointHitDetectionRadius: 10, tooltipTemplate: '<%= value%> TB'}">
					</canvas>
				</div>

				<div class="col-sm-6">
					<canvas class="chart chart-line" chart-data="vm.totalPeersData" chart-labels="vm.statsDateLabels" chart-legend="true" chart-series="[vm.titles.numPeers]" chart-options="{pointDot: true, pointHitDetectionRadius: 10, tooltipTemplate: '<%= value%> st'}">
					</canvas>
				</div>

			</div>
		</div>

		<div class="panel panel-default" style="padding: 0px;">
			<div class="panel-heading text-left" translate="FORUM.FORUMS"></div>
			<div class="panel-body text-left">

				<div class="col-sm-6">
					<canvas class="chart chart-bar" chart-data="vm.forumPostsData" chart-labels="vm.statsDateLabels" chart-legend="true" chart-series="[vm.titles.newForumPosts]" chart-options="{pointHitDetectionRadius: 10, tooltipTemplate: '<%= value%> st'}">
					</canvas>
				</div>

				<div class="col-sm-6">
					<canvas class="chart chart-bar" chart-data="vm.torrentCommentsData" chart-labels="vm.statsDateLabels" chart-legend="true" chart-series="[vm.titles.newTorrentComments]" chart-options="{pointHitDetectionRadius: 10, tooltipTemplate: '<%= value%> st'}">
					</canvas>
				</div>

			</div>
		</div>
	</div>

</div>
