<div class="text-center">

	<h1>Statistik</h1>

	<div ng-show="myself.class == 0" class="alert alert-warning" role="alert">Du måste vara minst 'Skådis' för att kunna se all statistik</div>

	<div ng-show="myself.class > 0">
		<div class="panel panel-default" style="padding: 0px;">
			<div class="panel-heading text-left">Användare</div>
			<div class="panel-body text-left">

				<div class="col-sm-6">
					<canvas id="pie" class="chart chart-pie" chart-data="userClassesData" chart-labels="userClassesLabels" chart-legend="true">
					</canvas>
				</div>

				<div class="col-sm-6">
					<canvas id="line" class="chart chart-line" chart-data="userClassesLineData" chart-labels="statsDateLabels" chart-legend="true" chart-series="userClassesLabels" chart-options="{pointDot: false, datasetFill: false}">
					</canvas> 
				</div>

				<div class="col-sm-6">
					<canvas id="line" class="chart chart-line" chart-data="activeUsersData" chart-labels="statsDateLabels" chart-legend="true" chart-series="['Aktiva användare']" chart-options="{pointDot: true, pointHitDetectionRadius: 10, tooltipTemplate: '<%= value%> st'}">
					</canvas> 
				</div>

				<div class="col-sm-6">
					<canvas id="line" class="chart chart-line" chart-data="activeClientsData" chart-labels="statsDateLabels" chart-legend="true" chart-series="['Aktiva klienter']" chart-options="{pointDot: true, pointHitDetectionRadius: 10, tooltipTemplate: '<%= value%> st'}">
					</canvas> 
				</div>

				<div class="col-sm-6">
					<canvas id="line" class="chart chart-line" chart-data="userSharedData" chart-labels="statsDateLabels" chart-legend="true" chart-series="['Utdelat per användare i snitt (Gigabyte)']" chart-options="{pointDot: true, pointHitDetectionRadius: 10, tooltipTemplate: '<%= value%> GB'}">
					</canvas> 
				</div>

				<div class="col-sm-6">
					<canvas id="line" class="chart chart-line" chart-data="usersWith100LeechBonus" chart-labels="statsDateLabels" chart-legend="true" chart-series="['Användare med 100% LeechBonus']" chart-options="{pointDot: true, pointHitDetectionRadius: 10, tooltipTemplate: '<%= value%> st'}">
					</canvas> 
				</div>

				<div class="col-sm-6">
					<canvas id="bar" class="chart chart-bar" chart-data="registeredUsersData" chart-labels="statsDateLabels" chart-legend="true" chart-series="['Registrerade användare']" chart-options="{pointDot: true, pointHitDetectionRadius: 10, tooltipTemplate: '<%= value%> st'}">
					</canvas> 
				</div>

				<div class="col-sm-6">
					<canvas id="pie" class="chart chart-pie" chart-data="cssThemesData" chart-labels="cssThemesLabels" chart-legend="true"></canvas>
				</div>

			</div>
		</div>

		<div class="panel panel-default" style="padding: 0px;">
			<div class="panel-heading text-left">Torrents</div>
			<div class="panel-body text-left">

				<div class="col-sm-6">
					<canvas id="pie" class="chart chart-pie" chart-data="torrentsPerCategoryData" chart-labels="torrentsPerCategoryLabels" chart-legend="true"></canvas>
				</div>

				<div class="col-sm-6">
					<canvas id="line" class="chart chart-line" chart-data="torrentsPerCategoryLineData" chart-labels="statsDateLabels" chart-legend="true" chart-series="torrentsPerCategoryLabels" chart-options="{pointDot: false, datasetFill: false}">
					</canvas> 
				</div>

				<div class="col-sm-6">
					<canvas id="line" class="chart chart-line" chart-data="totalSharedData" chart-labels="statsDateLabels" chart-legend="true" chart-series="['Total mängd utdelad data']" chart-options="{pointDot: true, pointHitDetectionRadius: 10, tooltipTemplate: '<%= value%> TB'}">
					</canvas> 
				</div>

				<div class="col-sm-6">
					<canvas id="line" class="chart chart-line" chart-data="totalPeersData" chart-labels="statsDateLabels" chart-legend="true" chart-series="['Antal peers']" chart-options="{pointDot: true, pointHitDetectionRadius: 10, tooltipTemplate: '<%= value%> st'}">
					</canvas> 
				</div>

			</div>
		</div>

		<div class="panel panel-default" style="padding: 0px;">
			<div class="panel-heading text-left">Forum</div>
			<div class="panel-body text-left">

				<div class="col-sm-6">
					<canvas id="bar" class="chart chart-bar" chart-data="forumPostsData" chart-labels="statsDateLabels" chart-legend="true" chart-series="['Nya foruminlägg']" chart-options="{pointHitDetectionRadius: 10, tooltipTemplate: '<%= value%> st'}">
					</canvas> 
				</div>

				<div class="col-sm-6">
					<canvas id="bar" class="chart chart-bar" chart-data="torrentCommentsData" chart-labels="statsDateLabels" chart-legend="true" chart-series="['Nya torrentkommentarer']" chart-options="{pointHitDetectionRadius: 10, tooltipTemplate: '<%= value%> st'}">
					</canvas> 
				</div>

			</div>
		</div>
	</div>

</div>