<loading-indicator hide="vm.movies"></loading-indicator>

<div class="col-md-5 col-md-push-1" ng-show="vm.movies">
	<h2>Mest bevakade filmerna</h2>

	<table class="table table-striped table-hover table-nowrap table-text-center">
		<tr>
			<th class="colhead" width="100px">Bevakare</th>
			<th class="colhead text-left">Namn</th>
			<th class="colhead" width="120px">Bevaka</th>
		</tr>
		<tr ng-repeat="movie in ::vm.movies">
			<td>{{ movie.cnt }}</td>
			<td align="left">
				<div class="tdTitleCol" style="width: 220px">
					<b><a ng-href="http://anonym.to/?http://www.imdb.com/title/{{ ::movie.imdbid }}/" target="_blank" ng-mouseenter="showPoster = true" ng-mouseleave="showPoster = false">{{ ::movie.title }}</a> ({{ ::movie.year }})</b>
					<div class="hoverPoster" ng-if="showPoster && movie.imdbid2" style="background-image: url('/img/imdb/{{ ::movie.imdbid2 }}.jpg');"></div>
				</div>
			</td>
			<td>
				<button class="btn btn-default btn-xs" ng-click="vm.addWatch(movie)" ng-class="{'active': movie.myBevakId > 0}">Bevaka</button>
			</td>
		</tr>
	</table>
</div>
<div class="col-md-5 col-md-push-1" ng-show="::vm.tvseries">
	<h2>Mest bevakade TV-serierna</h2>

	<table class="table table-striped table-hover table-nowrap table-text-center">
		<tr>
			<th class="colhead" width="100px">Bevakare</th>
			<th class="colhead text-left">Namn</th>
			<th class="colhead" width="120px">Bevaka</th>
		</tr>
		<tr ng-repeat="movie in ::vm.tvseries">
			<td>{{ ::movie.cnt }}</td>
			<td align="left">
				<div class="tdTitleCol" style="width: 220px">
					<b><a ng-href="http://anonym.to/?http://www.imdb.com/title/{{ ::movie.imdbid }}/" target="_blank" ng-mouseenter="showPoster = true" ng-mouseleave="showPoster = false">{{ ::movie.title }}</a> ({{ ::movie.year }})
					</b>
					<div class="hoverPoster" ng-if="showPoster && movie.imdbid2" style="background-image: url('/img/imdb/{{ ::movie.imdbid2 }}.jpg');"></div>
				</div>
			</td>
			<td>
				<button class="btn btn-default btn-xs" ng-click="vm.addWatch(movie)" ng-class="{'active': movie.myBevakId > 0}">Bevaka</button>
			</td>
		</tr>
	</table>
	<div class="clearfix"></div>
</div>
<br />
<br />
