<div class="text-center">
	<h1 translate="LIST.TITLE"></h1>

	<loading-indicator hide="vm.torrentLists"></loading-indicator>

	<torrent-lists torrent-lists="vm.torrentLists" on-sort="vm.onSort(sort)" col-bookmark="true"></torrent-lists>

	<br />

	<div class="text-center" ng-show="vm.torrentLists">
		<uib-pagination max-size="10" items-per-page="vm.itemsPerPage" total-items="vm.totalItems" ng-model="vm.currentPage" ng-click="vm.loadLists()" previous-text="{{ 'PAGER.PREVIOUS' | translate }}" next-text="{{ 'PAGER.NEXT' | translate }}" boundary-links="true" first-text="{{ 'PAGER.FIRST' | translate }}" last-text="{{ 'PAGER.LAST' | translate }}"></uib-pagination>
	</div>
</div>
