<div class="text-center">
	<div class="modal-header">
		<h2 class="modal-title">{{ 'ADMIN.CONFIRM_DONATION_TITLE' | translate }} <user user="vm.donation.user"></user></h2>
	</div>
	<div class="modal-body">
		<form role="form" ng-submit="vm.sendMessage()">
			<div class="form-group" style="text-align: left;">
				<label for="subject" translate="ADMIN.SUM"></label>
				<input type="text" id="subject" class="form-control" ng-change="vm.updateMessageBody()" placeholder="{{ 'ADMIN.SUM' | translate }}" ng-model="vm.donation.sum" />
			</div>
			<div class="form-group" style="text-align: left;">
				<label for="subject" translate="ADMIN.GIGABYTE"></label>
				<input type="text" id="subject" class="form-control" ng-change="vm.updateMessageBody()" placeholder="{{ 'ADMIN.GIGABYTE' | translate }}" ng-model="vm.donation.gb" />
			</div>
			<div class="form-group" style="text-align: left;">
				<label for="subject" translate="STATUS.BONUS"></label>
				<input type="text" id="subject" class="form-control" ng-change="vm.updateMessageBody()" placeholder="{{ 'STATUS.BONUS' | translate }}" ng-model="vm.donation.bonus" />
			</div>
			<div class="form-group" style="text-align: left;">
				<label for="subject" translate="MAILBOX.TOPIC"></label>
				<input type="text" id="subject" class="form-control" placeholder="{{ 'MAILBOX.TOPIC_PLACEHOLDER' | translate }}" ng-model="vm.message.subject" />
			</div>
			<div class="form-group" style="text-align: left;">
				<label for="postText" translate="MAILBOX.MESSAGE"></label>
				<textarea class="form-control" rows="4" id="postText" ng-model="vm.message.body" placeholder="{{ 'MAILBOX.WRITE_MESSAGE_PLACEHOLDER' | translate }}" auto-focus required></textarea>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<div class="button-group text-center">
			<button ng-show="vm.dialogStatus == 0" class="btn btn-primary" ng-click="vm.send()" translate="MAILBOX.SEND_MESSAGE"></button>
			<button ng-show="vm.dialogStatus == 1" class="btn btn-primary disabled"><i class="fa fa-spinner fa-spin"></i></button>
			<button ng-show="vm.dialogStatus == 2" class="btn btn-primary disabled"><i class="fa fa-check"></i></button>
			<button class="btn btn-default" ng-click="vm.cancel()" translate="BUTTONS.ABORT"></button>
		</div>
	</div>
</div>
