<div class="text-center">
	<div class="modal-header">
		<h2 class="modal-title">{{ 'DONATE.EDIT' | translate }} <user user="vm.donation.user"></user></h2>
	</div>
	<div class="modal-body">
		<form role="form" ng-submit="vm.sendMessage()">
			<div class="form-group" style="text-align: left;">
				<label for="subject" translate="ADMIN.SUM"></label>
				<input type="text" id="subject" class="form-control" placeholder="Summa" ng-model="vm.donation.sum" />
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<div class="button-group text-center">
			<button ng-show="vm.dialogStatus == 0" class="btn btn-primary" ng-click="vm.send()" translate="TORRENTS.SAVE_CHANGES"></button>
			<button ng-show="vm.dialogStatus == 1" class="btn btn-primary disabled"><i class="fa fa-spinner fa-spin"></i></button>
			<button ng-show="vm.dialogStatus == 2" class="btn btn-primary disabled"><i class="fa fa-check"></i></button>
			<button class="btn btn-default" ng-click="vm.cancel()" translate="BUTTONS.ABORT"></button>
		</div>
	</div>
</div>
