<table class="table table-striped" cellpadding="15">
	<tr ng-show="vm.relatedTorrents.length > 0">
		<td style="width: 250px;" class="text-right tdBold alignMiddle" translate="TORRENTS.LINK_RELEASE"></td>
		<td class="text-left">
			<select class="form-control" ng-model="vm.model.attachTorrentId" ng-options="i.id as i.name for i in ::vm.relatedTorrents" ng-change="vm.model.attachTorrentId ? vm.model.reason = vm.betterVersionExistsString : vm.model.reason = ''">
				<option value="" translate="TORRENTS.SELECT_TORRENT_ATTACHMENT"></option>
			</select>
		</td>
	</tr>
	<tr>
		<td style="width: 250px;" class="text-right tdBold alignMiddle" translate="TORRENTS.REASON"></td>
		<td class="text-left">
			<input type="textbox" class="form-control" ng-model="vm.model.reason" required />
		</td>
	</tr>
	<tr ng-show="vm.torrent.reqid > 0">
		<td style="width: 250px;" class="text-right tdBold alignMiddle" translate="TORRENTS.RESTORE_REQUEST"></td>
		<td class="text-left">
			<div class="btn-group">
				<label class="btn btn-default" ng-model="vm.model.restoreRequest" uib-btn-radio="1" translate="BUTTONS.YES"></label>
				<label class="btn btn-default" ng-model="vm.model.restoreRequest" uib-btn-radio="0" translate="BUTTONS.NO"></label>
			</div>
		</td>
	</tr>
	<tr ng-show="vm.currentUser.class >= 8 && vm.showPmuploader !== 'false'">
		<td style="width: 250px;" class="text-right tdBold alignMiddle" translate="TORRENTS.INFORM_UPLOADER"></td>
		<td class="text-left">
			<div class="btn-group">
				<label class="btn btn-default" ng-model="vm.model.pmUploader" uib-btn-radio="1" translate="BUTTONS.YES"></label>
				<label class="btn btn-default" ng-model="vm.model.pmUploader" uib-btn-radio="0" translate="BUTTONS.NO"></label>
			</div>
		</td>
	</tr>
	<tr>
		<td style="width: 250px;" class="text-right tdBold alignMiddle" translate="TORRENTS.INFORM_PEERS"></td>
		<td class="text-left">
			<div class="btn-group">
				<label class="btn btn-default" ng-model="vm.model.pmPeers" uib-btn-radio="1" translate="BUTTONS.YES"></label>
				<label class="btn btn-default" ng-model="vm.model.pmPeers" uib-btn-radio="0" translate="BUTTONS.NO"></label>
			</div>
		</td>
	</tr>
	<tr ng-show="vm.currentUser.class >= 8 && vm.showBan != 'false'">
		<td style="width: 250px;" class="text-right tdBold alignMiddle" translate="TORRENTS.BAN_RELEASE"></td>
		<td class="text-left">
			<div class="btn-group">
				<label class="btn btn-default" ng-model="vm.model.banRelease" uib-btn-radio="1" translate="BUTTONS.YES"></label>
				<label class="btn btn-default" ng-model="vm.model.banRelease" uib-btn-radio="0" translate="BUTTONS.NO"></label>
			</div>
		</td>
	</tr>
</table>
