<table class="table table-striped" cellpadding="15">
  <tr ng-show="relatedTorrents.length > 0">
    <td style="width: 250px;" class="text-right tdBold alignMiddle">Länka till annan release:</td>
    <td class="text-left">
      <select class="form-control" ng-model="model.attachTorrentId" ng-options="i.id as i.name for i in relatedTorrents" ng-change="model.reason = 'Det finns nu en nyare/bättre release'">
      <option value="">--- Välj en torrent att bifoga i PM ---</option>
    </select>
    </td>
  </tr>
  <tr>
    <td style="width: 250px;" class="text-right tdBold alignMiddle">Anledning</td>
    <td class="text-left">
      <input type="textbox" class="form-control" ng-model="model.reason" required />
    </td>
  </tr>
  <tr ng-show="torrent.reqid > 1">
    <td style="width: 250px;" class="text-right tdBold alignMiddle">Lägg tillbaka requesten</td>
    <td class="text-left">
      <div class="btn-group">
        <label class="btn btn-default" ng-model="model.restoreRequest" uib-btn-radio="1">Ja</label>
        <label class="btn btn-default" ng-model="model.restoreRequest" uib-btn-radio="0">Nej</label>
      </div>
    </td>
  </tr>
  <tr ng-show="myself.class >= 8 && showPmuploader !== 'false'">
    <td style="width: 250px;" class="text-right tdBold alignMiddle">Meddela uppladdaren via PM</td>
    <td class="text-left">
      <div class="btn-group">
        <label class="btn btn-default" ng-model="model.pmUploader" uib-btn-radio="1">Ja</label>
        <label class="btn btn-default" ng-model="model.pmUploader" uib-btn-radio="0">Nej</label>
      </div>
    </td>
  </tr>
  <tr>
    <td style="width: 250px;" class="text-right tdBold alignMiddle">Meddela alla seedare/leechare via PM</td>
    <td class="text-left">
      <div class="btn-group">
        <label class="btn btn-default" ng-model="model.pmPeers" uib-btn-radio="1">Ja</label>
        <label class="btn btn-default" ng-model="model.pmPeers" uib-btn-radio="0">Nej</label>
      </div>
    </td>
  </tr>
  <tr ng-show="myself.class >= 8 && showBan != 'false'">
    <td style="width: 250px;" class="text-right tdBold alignMiddle">Banna releasen</td>
    <td class="text-left">
      <div class="btn-group">
        <label class="btn btn-default" ng-model="model.banRelease" uib-btn-radio="1">Ja</label>
        <label class="btn btn-default" ng-model="model.banRelease" uib-btn-radio="0">Nej</label>
      </div>
    </td>
  </tr>
</table>