<div class="ellipsis">
	<a ng-show="viewingTorrent != torrent.id" ui-sref='torrent({id: torrent.id, name: torrent.name})' ng-bind-html="::torrent.name | highlight:searchText" style="font-weight: bold;" title="{{torrent.name}}" ng-mouseenter="showPoster = true" ng-mouseleave="showPoster = false"></a>
  <span ng-show="viewingTorrent == torrent.id" ng-bind="::torrent.name" style="font-weight: bold;"></span>
</div>
<div class="torrentSubRow">
	<span ng-if="torrent.genres" class="label label-default" ng-repeat="genre in ::torrent.genres | split">{{genre}}</span><!--
  --><a ng-if="torrent.rating" class="noBorder" href="http://www.imdb.com/title/{{ ::torrent.imdbid2 }}/" target="_blank"><span class="label label-warning">{{ ::torrent.rating | number:1 }}</span></a><!--
  --><span ng-if="torrent.frileech == 1 && !hasSpecialLeech(torrent)" class="label label-warning">Fri leech</span><!--
  --><span ng-if="torrent['3d'] == 1" class="label label-danger">3D</span><!--
  --><span ng-if="torrent.pack == 1" class="label label-info">Pack</span><!--
  --><span ng-if="torrent.reqid > 1" class="label label-info">Request</span><!--
  --><span ng-if="torrent.p2p == 1" class="label label-danger">P2P</span><!--
  --><a class="noBorder" target="_self" href="/subdownload.php?torrentid={{ ::torrent.id }}"><span ng-if="torrent.swesub == 1" class="label label-success">Svensk text</span></a><!--
  --><span ng-if="hasSpecialLeech(torrent)" class="label label-info">{{ getSpecialLeech(torrent.added) }} ratiofritt</span>
</div>

<div class="hoverPoster" ng-if="showPoster && torrent.imdbid2" style="background-image: url('/img/imdb/{{ ::torrent.imdbid2 }}.jpg');">
</div>