<div class="text-center">

	<h2 translate="TOPLISTS.WEEKLY_SEEDER"></h2>

	<i translate="TOPLISTS.WEEKLY_SEEDERS_INFO"></i>

	<div class="clearfix"></div>

	<div ng-show="vm.error" class="alert alert-warning" role="alert" translate="GENERAL.PAGE_ACCESS_LIMIT" translate-value-class="Movie star"></div>
	<loading-indicator hide="vm.newSeeders || vm.error"></loading-indicator>


	<div class="col-md-5 col-md-push-1" ng-show="::vm.newSeeders">
		<h3 translate="TOPLISTS.NEW_SEED"></h3>
		<table class="table table-striped table-hover">
			<tr>
				<th style="width: 50px;">#</th>
				<th translate="TORRENTS.USER"></th>
				<th translate="TORRENTS.UPLOADED"></th>
			</tr>
			<tr ng-repeat="user in ::vm.newSeeders">
				<td># {{ $index + 1 }}</td>
				<td class="text-left"><user user="::user" show-class="false"></user></td>
				<td>{{ user.nytt_seed | prettysize }}</td>
			</tr>
		</table>
	</div>

	<div class="col-md-5 col-md-push-1" ng-show="::vm.archiveSeeders">
		<h3 translate="TOPLISTS.ARCHIVE_SEED"></h3>
		<table class="table table-striped table-hover">
			<tr>
				<th style="width: 50px;">#</th>
				<th translate="TORRENTS.USER"></th>
				<th translate="TORRENTS.UPLOADED"></th>
			</tr>
			<tr ng-repeat="user in ::vm.archiveSeeders">
				<td># {{ $index + 1 }}</td>
				<td class="text-left"><user user="::user" show-class="false"></user></td>
				<td>{{ user.arkiv_seed | prettysize }}</td>
			</tr>
		</table>
	</div>
	<div class="clearfix"></div>
</div>
