<h2>Lägg ny request</h2>

<div ng-show="myself.class == 0" class="alert alert-warning" role="alert">Du måste vara minst 'Skådis' för att få lägga requests</div>
<div class="col-md-9 col-centered" ng-show="myself.class > 0">
	<form role="form" ng-submit="addRequest()" enctype="multipart/form-data">
		<table class="table table-striped" cellpadding="15">
			<tr>
				<td style="width: 150px;" class="text-right tdBold alignMiddle">Önskat format</td>
				<td class="text-left">
					<select class="form-control" ng-change="changedCategory()" ng-model="requestParams.category" ng-options="i.id as i.text for i in categories">
					</select>
				</td>
			</tr>
			<tr ng-show="noimdb == false">
				<td class="text-right tdBold alignMiddle">IMDb-länk</td>
				<td class="text-left">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="requestParams.imdbUrl" placeholder="http://" ng-change="fetchImdbInfo()"/>
						<span class="input-group-btn">
							<input type="text" class="form-control" style="width: 270px;" ng-model="requestParams.imdbInfo" readonly />
						</span>
					</div>
				</td>
			</tr>
			<tr ng-show="requestParams.seasons.length > 0 && noimdb == false">
				<td style="width: 150px;" class="text-right tdBold alignMiddle">Välj säsong</td>
				<td class="text-left">
					<select class="form-control" ng-model="requestParams.season" ng-options="i as i for i in requestParams.seasons">
					</select>
				</td>
			</tr>
			<tr ng-show="noimdb == true">
				<td class="text-right tdBold alignMiddle">Namn</td>
				<td class="text-left">
					<input class="form-control" placeholder="Skriv tydligt namnet på din request" ng-model="requestParams.customName" />
				</td>
			</tr>
			<tr>
				<td class="text-right tdBold alignMiddle">Kommentar</td>
				<td class="text-left">
					<input class="form-control" placeholder="(Valfri kommentar)" ng-model="requestParams.comment" />
				</td>
			</tr>
		</table>
		<br />

		<div class="text-center">
			<button type="submit" class="btn btn-primary" ng-disabled="submitDisabled">Lägg request</button>
		</div>

		<uib-alert type="{{alert.type}}" close="closeAlert()" ng-show="alert != null">
		 	{{alert.msg}}
		</uib-alert>

		<h3 class="text-center" ng-show="relatedTorrents.length > 0">Dubbelkolla så att releasen du söker inte redan finns på sidan:</h3>
		<torrents-table torrents="relatedTorrents" header="false" column-download column-size column-seeders column-leechers></torrents-table>

	</form>
</div>