<br />
<div class="table-responsive">
	<torrents-table torrents="torrents" on-sort="sortTorrents(sort)" search-text="searchText" last-browse-date="lastBrowseDate" check-mode="checkMode" column-download column-bookmark column-comments column-date column-size column-times-completed column-seeders column-leechers></torrents-table>
	
	<button ng-show="myself.class >= 8 && torrents.length > 0" class="btn btn-default btn-xs pull-right" style="margin-top: 10px;" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-model="checkMode" ng-change="loadRelated()">Multi-radera</button>

	<div ng-show="checkMode" class="text-center">
		<div class="clearfix"></div>
		<br />
		<delete-torrent model="deleteVars" related-torrents="relatedTorrents" myself="myself" show-ban="false" show-pmuploader="false"></delete-torrent>
		<br />
		<button ng-show="!deletingMulti" ng-click="multiDelete()" ng-disabled="getCheckedAmount() == 0" class="btn btn-primary">Radera alla ({{ getCheckedAmount() }}) markerade torrents</button>
		<button ng-show="deletingMulti" class="btn btn-primary disabled">Raderar...</button>
	</div>
</div>

<div ng-show="torrents.length == 0">
	<br />
	<div class="alert alert-warning text-center" role="alert">Inga sökträffar på <b>{{ searchText }}</b>.</div>
</div>

<div class="text-center">
	<uib-pagination max-size="10" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" previous-text="Föregående" next-text="Nästa" boundary-links="true" first-text="Första" last-text="Sista" ng-click="pageChanged()"></uib-pagination>
</div>