<div class="text-center center-block hidden-xs" ng-show="checkboxCategories.length > 0">
	<span ng-repeat="cat in checkboxCategories">
		<button class="btn btn-default btn-xs" ng-model="cat.checked" uib-btn-checkbox ng-change="CategoriesChanged()">{{cat.text}}</button>
	</span>

	<span class="normal" ng-show="showHideOldCheckbox">
		<button class="btn btn-default btn-xs" ng-model="hideOld" uib-btn-checkbox ng-change="HideOldChange()">Dölj gamla filmer</button>
	</span>
<br />
<br />
</div>

<div ng-show="myself.parkerad == 1" class="alert alert-warning" role="alert">Ditt konto är parkerat och kan därför inte visa alla sidor. Parkera upp kontot ifrån inställningarna.</div>

<div class="table-responsive" ng-hide="myself.parkerad == 1">
	<torrents-table torrents="torrents" on-filter-category="filterCategory(category)" on-sort="sortTorrents(sort)" last-browse-date="lastBrowseDate" column-download column-bookmark column-comments column-date column-size column-times-completed column-seeders column-leechers></torrents-table>
</div>

<div ng-hide="torrents" class="fa-spinner fa-spin fa-4x fa-fw spinner"></div>

<div class="text-center">
	<uib-pagination max-size="10" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" previous-text="Föregående" next-text="Nästa" boundary-links="true" first-text="Första" last-text="Sista"></uib-pagination>
</div>