<div class="text-center">
	<h1>SQL fellogg</h1>

	<div ng-hide="logs" class="fa-spinner fa-spin fa-4x fa-fw spinner"></div>

	<table class="table" ng-show="logs">
		<tr>
			<th style="width: 200px;">Datum</th>
			<th style="width: 125px;">Användare</th>
			<th class="text-left">Händelse</th>
		</tr>
		<tr ng-repeat="log in logs">
			<td>{{ log.added }}</td>
			<td><user user="log"></user></td>
			<td class="text-left" ng-bind-html="log.txt | bbCode"></td>
		</tr>
	</table>

	<uib-pagination max-size="10" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" previous-text="Föregående" next-text="Nästa" boundary-links="true" first-text="Första" last-text="Sista"></uib-pagination>

</div>