<div ng-hide="faq" class="fa-spinner fa-spin fa-4x fa-fw spinner"></div>

<div class="panel panel-default col-sm-10 col-sm-push-1" style="padding: 0px;">
	<div class="panel-heading text-left">FAQ - Överblick<button ng-show="myself.class >= 8" class="btn btn-default btn-xs pull-right" ng-model="adminmode" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">Adminläge</button></div>
	<div class="panel-body text-left">
		<button ng-show="adminmode" ng-click="CreateFaq()" class="btn btn-default btn-xs pull-right"><i class="fa fa-plus"></i> Ny punkt</button>
		<div ng-repeat="fa in faq | filter: type='categ'">
			<b>{{ fa.question }}</b>
			<span ng-show="fa.flag == 2" class="label label-warning">Uppdaterad</span>
			<span ng-show="fa.flag == 3" class="label label-danger">Ny</span>

			<span ng-show="adminmode">
				&nbsp;
				<button ng-click="DeleteFaq(fa)" class="btn btn-default btn-xs"><i class="fa fa-trash-o"></i></button>
				<button ng-click="EditFaq(fa)" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button>
			</span>

			<ul>
				<li ng-repeat="faa in faq | filter: filterByCategory(fa.id)">
					<a href="#{{faa.id}}">{{faa.question}}</a>
					<span ng-show="faa.flag == 2" class="label label-warning">Uppdaterad</span>
					<span ng-show="faa.flag == 3" class="label label-danger">Ny</span>

					<span ng-show="adminmode">
						&nbsp;
						<button ng-click="DeleteFaq(faa)" class="btn btn-default btn-xs"><i class="fa fa-trash-o"></i></button>
						<button ng-click="EditFaq(faa)" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="panel panel-default col-sm-10 col-sm-push-1" style="padding: 0px;" ng-repeat="fa in faq | filter:type='categ'">
	<div class="panel-heading text-left">{{ fa.question }}</div>
	<div class="panel-body text-left">
		<ul>
		<li ng-repeat="f in faq | filter: filterByCategory(fa.id)">
			<a name="{{f.id}}"></a> 
			 <strong>{{f.question}}</strong>
			 <p ng-bind-html="f.answer | bbCode"></p>
		</li>
	</div>
</div>