<div class="text-left">
	<div class="modal-header">
		<h2 class="modal-title text-center">
			<span ng-hide="vm.rule.id" translate="RULES.CREATE"></span>
			<span ng-show="vm.rule.id" translate="RULES.EDIT"></span>
		</h2>
	</div>
	<div class="modal-body">
		<form role="form">
			<div class="form-group">
				<label translate="FAQ.TITLE"></label>
				<input type="text" class="form-control" placeholder="{{ 'FAQ.TITLE' | translate }}" ng-model="vm.rule.title" />
			</div>
			<div class="form-group">
				<label translate="FAQ.TEXT"></label>
				<textarea class="form-control" rows="8" id="postText" ng-model="vm.rule.text" placeholder="{{ 'FAQ.TEXT_PLACEHOLDER' | translate }}" auto-focus></textarea>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<div class="button-group text-center">
			<button class="btn btn-primary" ng-click="vm.create()">
				<span ng-hide="vm.rule.id" translate="RULES.CREATE"></span>
				<span ng-show="vm.rule.id" translate="RULES.EDIT"></span>
			</button>
			<button class="btn btn-default" ng-click="vm.cancel()" translate="BUTTONS.ABORT"></button>
		</div>
	</div>
</div>
