<div class="text-center">
	<h1 class="block-center text-center" translate="INVITE.TITLE"></h1>
	<div ng-show="vm.currentUser.class < 1" class="alert alert-warning" role="alert" translate="GENERAL.PAGE_ACCESS_LIMIT" translate-value-class="Actor"></div>
	<div ng-show="vm.currentUser.inviteban == 1" class="alert alert-warning" role="alert" translate="INVITE.BANNED"></div>

	<div ng-show="vm.currentUser.class > 1 && vm.currentUser.inviteban == 0">

	<div class="panel panel-default col-sm-6 col-centered" style="padding: 0px;">
		<div class="panel-heading" translate="INVITE.RULES"></div>
		<div class="panel-body" translate="INVITE.RULES_BODY"></div>
	</div>

	<input type="button" ng-click="vm.createInvite()" class="btn btn-default center-block btn-sm" value="{{ vm.createButtonText }}" ng-disabled="vm.timeLeft > 0" />
	<br />
	<loading-indicator hide="vm.invites"></loading-indicator>

	<div class="col-lg-8 col-centered" ng-show="vm.invites">
		<table class="table table-striped table-hover">
			<tr>
				<th style="width: 150px;" class="text-left" translate="LIST.CREATED"></th>
				<th class="text-left" translate="INVITE.INVITE_URL"></th>
				<th style="width: 80px;" class="text-center" translate="BUTTONS.DELETE"></th>
			</tr>
			<tr ng-repeat="invite in vm.invites">
				<td class="alignMiddle">{{ ::invite.skapad }}</td>
				<td class="text-left"><input type="text" class="form-control readonly-pretty" value="{{ ::vm.configs.SITE_URL }}/signup/{{ ::invite.secret }}" readonly /></td>
				<td class="text-center alignMiddle"><button class="btn btn-default btn-xs" ng-click="vm.deleteInvite(invite)"><i class="fa fa-trash-o"></i></button></td>
			</tr>
		</table>
	</div>
	<br />
	<br />
	<i translate="INVITE.EXTRA_INFO"></i>
</div>
</div>
