<div class="text-center">
	<h1 style="margin-bottom: 20px;">Brevlåda</h1>

	<div class="btn-group">
		<label class="btn btn-default" ng-model="currentView" uib-btn-radio="0" ng-change="switchView()">Inkorg</label>
		<label class="btn btn-default" ng-model="currentView" uib-btn-radio="1" ng-change="switchView()">Utkorg</label>
	</div>

	<br /><br />

	<div ng-hide="mailbox" class="fa-spinner fa-spin fa-4x fa-fw spinner"></div>

	<div class="col-lg-10 col-lg-push-1" ng-show="mailbox">
		<table class="table table-stripedSpecial table-hover" style="table-layout: fixed;" ng-init="itemNew=[]">
			<thead>
				<th class="text-left" style="width: 165px;"><span ng-show="currentView == 0">Från</span><span ng-show="currentView == 1">Till</span></th>
				<th class="text-left">Ämne <span class="pull-right hidden-xs" style="margin-right: 80px;" ng-show="currentView == 0">Mottaget</span><span class="pull-right hidden-xs" style="margin-right: 80px;" ng-show="currentView == 1">Skickat</span></th>
			</thead>
			<tbody>
				<tr ng-init="itemsDisplay=[]" ng-repeat-start="mail in mailbox" ng-click="itemsDisplay[$index] = !itemsDisplay[$index]; readMessage(mail);">
					<td class="text-left tvTdRow ellipsis" style="font-size: 12px;"><user user="mail.user"></user></td>
					<td class="text-left tvTdRow" style="font-size: 12px;"><span style="float: left;">{{ mail.subject }}<span ng-show="mail.subject.length < 1">(Inget ämne)</span> <span ng-show="mail.saved==1"> <i class="fa fa-floppy-o"></i></span> <span ng-show="mail.svarad==1"> <i class="fa fa-reply"></i></span></span>
					<span style="float: right;" class="hidden-xs">{{ mail.added }} ({{ mail.added | dateDifference }} sedan)</span> <span ng-show="mail.unread == 'yes'" class="badge" style="font-size: 10px; margin-left: 5px;">NYTT</span></td>
				</tr>
				<tr ng-repeat-end ng-show="itemsDisplay[$index]">
					<td colspan="2" style="background-color: #FFF;" class="text-left">

						<div class="hidden-xs forumAvatarHolder">
							<div ng-if="mail.user.avatar && myself.avatars == 'yes'" class="post-avatar" style="background-image: url('{{mail.user.avatar}}');"></div>
							<div ng-if="myself.avatars == 'no' || !mail.user.avatar" class="post-avatar" style="background-image: url('/img/default-avatar.png');"></div>
						</div>

						<div class="forumPost">
							<div class="button-group mailbox-buttons">
								<button ng-if="mail.sender != 1" ng-click="replyMessage(mail)" class="btn btn-default btn-xs"><i class="fa fa-reply"></i> Svara</button>
								<button class="btn btn-default btn-xs" ng-click="saveMessage(mail)"><i class="fa fa-floppy-o"></i> Spara</button>
								<button class="btn btn-default btn-xs" ng-click="delete(mail)"><i class="fa fa-trash-o"></i> Radera</button>
								<button ng-if="myself.class < 8"  class="btn btn-default btn-xs" ng-click="report(mail)"><i class="fa fa-exclamation-triangle"></i> Rapportera</button>
								<button ng-if="myself.class >= 8" class="btn btn-default btn-xs" ng-click="adminMessage(mail)"><i class="fa fa-exclamation-triangle"></i> Detta är StaffPM</button>
							</div>
							<p ng-bind-html="mail.body | bbCode" style="padding: 5px;"></p>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<uib-pagination max-size="10" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" previous-text="Föregående" next-text="Nästa" boundary-links="true" first-text="Första" last-text="Sista"></uib-pagination>

</div>