body {
    background-color: #ebeff2;
}
#headbanner {
    background-color: #3E86D8;
}
li.menu.active > a, li.menuSmall.active > a {
    border-bottom: 6px solid #3E86D8 !important;
}
.spinner {
    color: #3E86D8;
}
@media (max-width: 768px) {
	li.menu.active > a, li.menuSmall.active > a {
	    background-color: #3E86D8 !important;
	    border-bottom: 0 none !important;
	    color: #fff !important;
	}
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #3E86D8;
    border-color: #3E86D8;
}
.navbar-default .navbar-toggle {
    background-color: #3E86D8;
    border-color: #3E86D8;
}
.panel-green > .panel-heading {
    background-color: #3E86D8;
    border-color: #3E86D8;
}
th {
    background-color: #3E86D8;
}
.btn-primary, .btn-primary.active, .btn-primary.focus, .open > .dropdown-toggle.btn-primary {
    background-color: #3E86D8;
    border-color: #3E86D8;
    color: #fff;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #3E86D8;
    border-color: #3E86D8;
    color: #fff;
}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary.active[disabled], .btn-primary.focus[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #3E86D8;
    border-color: #3E86D8;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: #3E86D8;
}
span.fa-styled {
    color: #3E86D8;
    font-size: 18px;
}
.progress-bar-success {
    background-color: #3E86D8;
}
