<div class="text-center">
	<div class="modal-header">
		<h2 class="modal-title">{{ settings.title }}</h2>
	</div>
	<div class="modal-body">
		<div ng-bind="settings.body"></div>
		<br />
		<div>
			<b>Användare:</b> <input type="text" ng-model="asyncSelected" placeholder="Användarnamn" uib-typeahead="user.username for user in getUsers($viewValue)" typeahead-loading="loadingUsers" class="form-control center-block" typeahead-on-select="onSelected($item)" auto-focus style="width: 200px;" />
		</div>
		<div>
		<b>Motivering:</b><input type="text" placeholder="Motivering" class="form-control" style="width: 200px; margin: auto;" ng-model="settings.motivation" />
		</div>
	</div>
	<div class="modal-footer">
		<div class="button-group text-center">
			<button class="btn btn-success" ng-click="confirm()">Bekräfta</button>
			<button class="btn btn-default" ng-click="cancel()">Avbryt</button>
		</div>
	</div>
</div>