<div class="text-center">
	<div class="modal-header">
		<h2 class="modal-title">{{ settings.title }}</h2>
	</div>
	<div class="modal-body">
		<div ng-bind-html="settings.body | bbCode"></div>
		<div ng-if="settings.wantReason">
		<br />
		<b ng-bind="settings.reasonText"></b><input type="text" class="form-control" style="width: 200px; margin: auto;" ng-model="settings.reason" />
		</div>
	</div>
	<div class="modal-footer">
		<div class="button-group text-center">
			<button class="btn btn-success" ng-click="confirm()">Bekräfta</button>
			<button class="btn btn-default" ng-click="cancel()">Avbryt</button>
		</div>
	</div>
</div>