<div class="text-center">
	<form ng-submit="vm.confirm()">
		<div class="modal-header">
			<h2 class="modal-title">{{ ::vm.settings.title }}</h2>
		</div>
		<div class="modal-body">
			<div ng-bind-html="::vm.settings.body | bbCode"></div>
			<div ng-if="vm.settings.wantReason">
			<br />
			<b ng-bind="vm.settings.reasonText"></b><input type="text" class="form-control" style="width: 200px; margin: auto;" ng-model="vm.settings.reason" ng-required="vm.settings.wantReason" />
			</div>
		</div>
		<div class="modal-footer">
			<div class="button-group text-center">
				<button type="submit" class="btn btn-success" translate="BUTTONS.CONFIRM"></button>
				<button type="button" class="btn btn-default" ng-click="vm.cancel()" translate="BUTTONS.ABORT"></button>
			</div>
		</div>
	</form>
</div>
