<div class="text-center">
	<form ng-submit="vm.delete()">
	<div class="modal-header">
		<h2 class="modal-title">{{ vm.settings.title }}</h2>
	</div>
	<div class="modal-body">
	{{ vm.settings.body }}
	<span ng-if="vm.settings.wantReason">
		<br /><br />
		<b>{{ 'USER.DELETE_REASON' | translate }}:</b><input type="text" class="form-control" placeholder="{{ 'USER.DELETE_REASON' | translate }}" style="width: 200px; margin: auto;" ng-model="vm.settings.reason" ng-required="vm.settings.wantReason" />
	</span>
	</div>
	<div class="modal-footer">
		<div class="button-group text-center">
			<button type="submit" class="btn btn-danger" translate="BUTTONS.DELETE"></button>
			<button type="button" class="btn btn-default" ng-click="vm.cancel()" translate="BUTTONS.ABORT"></button>
		</div>
	</div>
	</form>
</div>
