<div class="text-center">
	<div class="modal-header">
		<h2 class="modal-title">{{ settings.title }}</h2>
	</div>
	<div class="modal-body">
	{{ settings.body }}
	<span ng-if="settings.wantReason">
		<br /><br />
		<b>Anledning till radering:</b><input type="text" class="form-control" placeholder="Anledning" style="width: 200px; margin: auto;" ng-model="settings.reason" />
	</span>
	</div>
	<div class="modal-footer">
		<div class="button-group text-center">
			<button class="btn btn-danger" ng-click="delete()">Radera</button>
			<button class="btn btn-default" ng-click="cancel()">Avbryt</button>
		</div>
	</div>
</div>