<div class="text-left">
	<div class="modal-header">
		<h2 class="modal-title text-center">
			<span ng-hide="faq.id">Skapa ny FAQ</span>
			<span ng-show="faq.id">Redigera FAQ</span>
		</h2>
	</div>
	<div class="modal-body">
		<form role="form">
			<div class="form-group">
				<label>Typ</label>
				<select ng-disabled="{{ hasChildren }}" ng-change="TypeChanged()" class="form-control" ng-model="faq.type" ng-options="item.id as item.name for item in typeOptions"></select>
			</div>
			<div class="form-group" ng-show="faq.type == 'item'">
				<label>Kopplad till huvudkategori</label>
				<select class="form-control" ng-model="faq.categ" ng-options="i.id as i.question for i in faqList"></select>
			</div>
			<div class="form-group">
				<label>Status</label>
				<select class="form-control" ng-model="faq.flag" ng-options="toInt(key) as value for (key, value) in options"></select>
			</div>
			<div class="form-group">
				<label>Titel</label>
				<input type="text" class="form-control" placeholder="Rubrik" ng-model="faq.question" />
			</div>
			<div ng-show="faq.type == 'item'" class="form-group">
				<label>Text</label>
				<textarea class="form-control" rows="8" id="postText" ng-model="faq.answer" placeholder="Skriv text..." ></textarea>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<div class="button-group text-center">
			<button class="btn btn-primary" ng-click="create()">
				<span ng-hide="faq.id">Skapa ny FAQ-post</span>
				<span ng-show="faq.id">Spara ändringar</span>
			</button>
			<button class="btn btn-default" ng-click="cancel()">Avbryt</button>
		</div>
	</div>
</div>