<div class="text-center">
	<div class="modal-header">
		<h2 class="modal-title">
			<span ng-hide="news.id">Skapa ny nyhet</span>
			<span ng-show="news.id">Redigera nyhet</span>
		</h2>
	</div>
	<div class="modal-body">
		<form role="form">
			<div class="form-group" style="text-align: left;">
				<label for="subject">Rubrik</label>
				<input type="text" id="subject" class="form-control" placeholder="Rubrik" ng-model="news.subject" />
			</div>
			<div class="form-group" style="text-align: left;">
				<label for="postText">Text</label>
				<textarea class="form-control" rows="8" id="postText" ng-model="news.body" placeholder="Skriv nyheten..." auto-focus required></textarea>
			</div>
			<div class="form-group" style="text-align: left;">
				<label for="postText">Flash-nyhet som uppmanar alla att läsa</label>
				<br />
				<div class="btn-group">
					<label class="btn btn-default" ng-model="news.announce" uib-btn-radio="1">Ja</label>
					<label class="btn btn-default" ng-model="news.announce" uib-btn-radio="0">Nej</label>
				</div>
			</div>
		</form>
		<br />
		<uib-alert style="text-align: center;" type="{{alert.type}}" close="closeAlert()" ng-show="alert != null">
		 	{{alert.msg}}
		</uib-alert>
	</div>
	<div class="modal-footer">
		<div class="button-group text-center">
			<button class="btn btn-primary" ng-click="create()">
				<span ng-hide="news.id">Skapa nyhet</span>
				<span ng-show="news.id">Spara ändringar</span>
			</button>
			<button class="btn btn-default" ng-click="cancel()">Avbryt</button>
		</div>
	</div>
</div>