<div class="text-center">
	<div class="modal-header">
		<h2 class="modal-title" translate="SUGGEST.CREATE_TITLE"></h2>
	</div>
	<div class="modal-body">
		<form role="form" ng-submit="vm.sendMessage()">
			<div class="form-group" style="text-align: left;">
				<label for="subject" translate="SUGGEST.HEADER"></label>
				<input type="text" id="subject" class="form-control" placeholder="{{ 'SUGGEST.HEADER' | translate }}" ng-model="vm.suggestion.subject" />
			</div>
			<div class="form-group" style="text-align: left;">
				<label for="postText" translate="SUGGEST.SUGGESTION"></label>
				<textarea class="form-control" rows="8" id="postText" ng-model="vm.suggestion.body" placeholder="{{ 'SUGGEST.SUGGESTION_PLACEHOLDER' | translate}}" auto-focus required></textarea>
			</div>
		</form>
		<br />
		<uib-alert style="text-align: center;" type="{{ vm.alert.type }}" close="vm.closeAlert()" ng-show="vm.alert != null">
		 	{{ vm.alert.msg }}
		</uib-alert>
	</div>
	<div class="modal-footer">
		<div class="button-group text-center">
			<button class="btn btn-primary" ng-click="vm.create()" translate="SUGGEST.CREATE"></button>
			<button class="btn btn-default" ng-click="vm.cancel()" translate="BUTTONS.ABORT"></button>
		</div>
	</div>
</div>
