<div class="text-center">
	<h1>{{ 'POLL.TITLE' | translate }}</h1>
	<div class="text-center" style="margin-bottom: 10px;" ng-if="vm.currentUser.class >= 8">
		<button ng-click="vm.create()" class="btn btn-default btn-xs"><i class="fa fa-plus"></i> {{ 'POLL.CREATE' | translate }}</button>
	</div>
	<loading-indicator hide="vm.polls"></loading-indicator>

	<div ng-repeat="poll in vm.polls track by poll.id" class="col-md-6">
		<poll poll="::poll" onlyresult="true"></poll>
	</div>

	<br style="clear: both;" />

	<uib-pagination max-size="10" items-per-page="vm.itemsPerPage" total-items="vm.totalItems" ng-model="vm.currentPage" ng-click="vm.getPolls()" previous-text="{{ 'PAGER.PREVIOUS' | translate }}" next-text="{{ 'PAGER.NEXT' | translate }}" boundary-links="true" first-text="{{ 'PAGER.FIRST' | translate }}" last-text="{{ 'PAGER.LAST' | translate }}"></uib-pagination>

	<br />
</div>
