<br />
<div class="table-responsive">
	<torrents-table torrents="vm.torrents" on-sort="vm.sortTorrents(sort)" search-text="vm.searchText" last-browse-date="vm.lastBrowseDate" check-mode="vm.checkMode" col-download="true" col-bookmark="true" col-comments="true" col-date="true" col-size="true" col-times-completed="true" col-seeders="true" col-leechers="true"></torrents-table>

	<button ng-show="vm.currentUser.class >= 8 && vm.torrents.length > 0" class="btn btn-default btn-xs pull-right" style="margin-top: 10px;" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-model="vm.checkMode" ng-change="vm.loadRelated()">Multi-radera</button>

	<div ng-show="vm.checkMode" class="text-center">
		<div class="clearfix"></div>
		<br />
		<delete-torrent model="vm.deleteVars" related-torrents="vm.relatedTorrents" show-ban="false" show-pmuploader="false"></delete-torrent>
		<br />
		<button ng-show="!vm.deletingMulti" ng-click="vm.multiDelete()" ng-disabled="vm.getCheckedAmount() == 0" class="btn btn-primary">Radera alla ({{ vm.getCheckedAmount() }}) markerade torrents</button>
		<button ng-show="deletingMulti" class="btn btn-primary disabled">Raderar...</button>
	</div>
</div>

<div ng-show="vm.torrents.length == 0">
	<br />
	<div class="alert alert-warning text-center" role="alert">Inga sökträffar på <b>{{ vm.searchText }}</b>.</div>
</div>

<div class="text-center">
	<uib-pagination max-size="10" items-per-page="vm.itemsPerPage" total-items="vm.totalItems" ng-model="vm.currentPage" previous-text="Föregående" next-text="Nästa" boundary-links="true" first-text="Första" last-text="Sista" ng-click="vm.getTorrents()"></uib-pagination>
</div>
