<div class="text-center">
	<p style="text-align: center;">
		<i class="fa fa-rss-square fa-4x" style="color: #CE6000"></i>
	</p>

	<h2 translate="RSS.CREATE"></h2>
	<div class="col-lg-5 col-centered">
	<table class="table table-striped">
		<tr>
			<td class="tdBold" style="width: 125px;" translate="RSS.CHOOSE_CATEGORIES"></td>
			<td class="text-left">
				<div ng-repeat="cat in ::vm.settings.categories" style="margin-bottom: 2px;">
					<button class="btn btn-default btn-xs" ng-model="cat.checked" uib-btn-checkbox ng-change="vm.update()">{{ ::cat.text }}</button>
				</div>
			</td>
		</tr>
		<tr>
			<td class="tdBold alignMiddle" translate="RSS.SECTION"></td>
			<td>
				<button class="btn btn-default btn-xs" ng-model="vm.settings.setting" uib-btn-radio="0" ng-change="vm.update()" translate="TORRENTS.ALL"></button>
				<button class="btn btn-default btn-xs" ng-model="vm.settings.setting" uib-btn-radio="1" ng-change="vm.update()" translate="TORRENTS.NEW"></button>
				<button class="btn btn-default btn-xs" ng-model="vm.settings.setting" uib-btn-radio="2" ng-change="vm.update()" translate="TORRENTS.ARCHIVE"></button>
				<button class="btn btn-default btn-xs" ng-model="vm.settings.setting" uib-btn-radio="3" ng-change="vm.update()" translate="RSS.BOOKMARKED_TORRENTS"></button>
			</td>
		</tr>
		<tr>
			<td class="tdBold alignMiddle">P2P</td>
			<td>
				<button class="btn btn-default btn-xs" ng-model="vm.settings.p2p" uib-btn-checkbox ng-change="vm.update()">P2P</button>
			</td>
		</tr>
	</table>
	</div>

	<h3 translate="RSS.RSS_URL">RSS-länk</h3>

	<input type="text" class="form-control readonly-pretty" id="rssUrl" readonly="readonly" ng-model="vm.settings.url" style="width: 630px; margin: auto; margin-top: 5px;" />

</div>
