<div class="text-center">
	<h1>Mina torrentkommentarer</h1>

	<uib-pagination max-size="10" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" ng-click="pageChanged()" previous-text="Föregående" next-text="Nästa" boundary-links="true" first-text="Första" last-text="Sista" ng-hide="posts.length == 0"></uib-pagination>

	<div ng-hide="posts" class="fa-spinner fa-spin fa-4x fa-fw spinner"></div>
	<div ng-show="posts.length == 0" class="alert alert-warning" role="alert">Du har inga kommentarer till torrents</div>

	<div class="col-md-10 col-centered nopadding" ng-show="posts">
		<posts posts="posts" delete-post="deleteComment(post)" report="reportComment(post)" current-user="myself" ng-hide="posts.length == 0"></posts>
	</div>

	<uib-pagination max-size="10" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" ng-click="pageChanged()" previous-text="Föregående" next-text="Nästa" boundary-links="true" first-text="Första" last-text="Sista" ng-hide="posts.length == 0"></uib-pagination>
</div>