<div class="text-center">
	<h1 translate="COMMENTS.MY_COMMENTS"></h1>

	<uib-pagination max-size="10" items-per-page="vm.itemsPerPage" total-items="vm.totalItems" ng-model="vm.currentPage" ng-click="vm.loadPosts()" previous-text="{{ 'PAGER.PREVIOUS' | translate }}" next-text="{{ 'PAGER.NEXT' | translate }}" boundary-links="true" first-text="{{ 'PAGER.FIRST' | translate }}" last-text="{{ 'PAGER.LAST' | translate }}" ng-hide="vm.posts.length == 0"></uib-pagination>

	<loading-indicator hide="vm.posts"></loading-indicator>
	<div ng-show="vm.posts.length == 0" class="alert alert-warning" role="alert" translate="TORRENTS.NO_TORRENT_COMMENTS"></div>

	<div class="col-md-10 col-centered nopadding" ng-show="vm.posts">
		<posts posts="vm.posts" ng-hide="vm.posts.length == 0"></posts>
	</div>

	<uib-pagination max-size="10" items-per-page="vm.itemsPerPage" total-items="vm.totalItems" ng-model="vm.currentPage" ng-click="vm.loadPosts()" previous-text="{{ 'PAGER.PREVIOUS' | translate }}" next-text="{{ 'PAGER.NEXT' | translate }}" boundary-links="true" first-text="{{ 'PAGER.FIRST' | translate }}" last-text="{{ 'PAGER.LAST' | translate }}" ng-hide="vm.posts.length == 0"></uib-pagination>
</div>
