<div ng-show="notFoundMessage" class="alert alert-warning" role="alert">{{ notFoundMessage }}</div>
<div class="text-center" ng-show="user && !notFoundMessage">
	<h2>Inställningar för <user user="user" showclass="false" iconsize="big" /></h2>
</div>

<div ng-hide="user || notFoundMessage" class="fa-spinner fa-spin fa-4x fa-fw spinner"></div>

<div class="row row-centered">
	<div class="col-md-9 col-centered" ng-show="user && !notFoundMessage">
		<uib-tabset>
			<uib-tab>
				<tab-heading><i class="fa fa-cog"></i> Allmänt</tab-heading>
				<table class="table table-striped" cellpadding="15">
					<tr>
						<td style="width: 200px;" class="text-right tdBold alignMiddle">Visa endast följande kategorier</td>
						<td class="text-left">
							<span ng-repeat="cat in user.notifs">
								<button style="margin: 1px;" class="btn btn-default btn-xs" ng-model="cat.checked" uib-btn-checkbox>{{cat.text }}</button>
							</span>
							<button class="btn btn-default btn-xs" ng-model="user.visagammalt" uib-btn-checkbox btn-checkbox-true="0" btn-checkbox-false="1">Dölj gamla filmer</button>
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Avatar URL</td>
						<td class="text-left">
							<input type="url" class="form-control" ng-model="user.avatar" placeholder="http://" />
							Storleken bör vara max 150 pixlar bred.
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Visa avatarer</td>
						<td class="text-left">
							<div class="btn-group">
								<label class="btn btn-default" ng-model="user.avatars" uib-btn-radio="'yes'">Ja</label>
								<label class="btn btn-default" ng-model="user.avatars" uib-btn-radio="'no'">Nej</label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Design</td>
						<td class="text-left">
							<div class="btn-group">
								<select class="form-control" ng-model="user.design" ng-options="i.id as i.text for i in cssDesigns"></select>
							</div>
						</td>
					</tr>
					<tr ng-show="user.design == 1">
						<td class="text-right tdBold alignMiddle">CSS URL</td>
						<td class="text-left">
							<input type="url" class="form-control" ng-model="user.css" placeholder="https://" />
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Svensk TV-vy</td>
						<td class="text-left">
							<div class="btn-group">
								<label class="btn btn-default" ng-model="user.tvvy" uib-btn-radio="0">Tablåvy</label>
								<label class="btn btn-default" ng-model="user.tvvy" uib-btn-radio="1">Torrentvy</label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Söksortering</td>
						<td class="text-left">
							<div class="btn-group">
								<label class="btn btn-default" ng-model="user.search_sort" uib-btn-radio="'name'">Bokstavsordning</label>
								<label class="btn btn-default" ng-model="user.search_sort" uib-btn-radio="'added'">Senast först</label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Torrents per sida</td>
						<td class="text-left">
							<input type="number" min="0" class="form-control" ng-model="user.torrentsperpage" />
							(0 = använd standard)
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Forumtrådar per sida</td>
						<td class="text-left">
							<input type="number" min="0" class="form-control" ng-model="user.topicsperpage" pattern="[0-9]{1,2}" />
							(0 = använd standard)
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Foruminlägg per sida</td>
						<td class="text-left">
							<input type="number" min="0" class="form-control" ng-model="user.postsperpage" />
							(0 = använd standard)
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Kön</td>
						<td class="text-left">
							<div class="btn-group">
								<label class="btn btn-default" ng-model="user.gender" uib-btn-radio="1">Man</label>
								<label class="btn btn-default" ng-model="user.gender" uib-btn-radio="2">Kvinna</label>
								<label class="btn btn-default" ng-model="user.gender" uib-btn-radio="0">Hen</label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Ålder</td>
						<td class="text-left">
							<input type="number" class="form-control" ng-model="user.alder" />
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Bandbredd</td>
						<td class="text-left">
							<table>
								<tr>
									<td><b>Mbit upp&nbsp;</b></td>
									<td><input type="text" class="form-control" style="width: 75px;" ng-model="user.mbitupp" /></td>
									<td><b>&nbsp;Mbit ner&nbsp;</b></td>
									<td><input type="text" class="form-control" style="width: 75px;" ng-model="user.mbitner" /></td>
									<td><b>&nbsp;Operatör&nbsp;</b></td>
									<td><input type="text" class="form-control" placeholder="ISP" style="width: 100px;" ng-model="user.isp" /></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold">Profil</td>
						<td class="text-left">
							<textarea class="form-control" style="min-height: 200px;" ng-model="user.info"></textarea>
						</td>
					</tr>
				</table>
			</uib-tab>
			<uib-tab>
			<tab-heading><i class="fa fa-lock"></i> Säkerhet</tab-heading>
				<table class="table table-striped" cellpadding="15">
					<tr>
						<td style="width: 200px;" class="text-right tdBold alignMiddle">Acceptera PM</td>
						<td class="text-left">
							<div class="btn-group">
								<label class="btn btn-default" ng-model="user.acceptpms" uib-btn-radio="'yes'">Alla</label>
								<label class="btn btn-default" ng-model="user.acceptpms" uib-btn-radio="'friends'">Endast vänner</label>
								<label class="btn btn-default" ng-model="user.acceptpms" uib-btn-radio="'no'">Endast admins</label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Tracker via HTTPS</td>
						<td class="text-left">
							<div class="btn-group">
								<label class="btn btn-default" ng-model="user.https" uib-btn-radio="1">Ja</label>
								<label class="btn btn-default" ng-model="user.https" uib-btn-radio="0">Nej</label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Anonym torrentaktivitet</td>
						<td class="text-left">
							<div class="btn-group">
								<label class="btn btn-default" ng-model="user.anonym" uib-btn-radio="'yes'">Ja</label>
								<label class="btn btn-default" ng-model="user.anonym" uib-btn-radio="'no'">Nej</label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Anonyma upp/ner stats</td>
						<td class="text-left">
							<div class="btn-group">
								<label class="btn btn-default" ng-model="user.anonymratio" uib-btn-radio="'yes'">Ja</label>
								<label class="btn btn-default" ng-model="user.anonymratio" uib-btn-radio="'no'">Nej</label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Anonyma leechbonus och pokal</td>
						<td class="text-left">
							<div class="btn-group">
								<label class="btn btn-default" ng-model="user.anonymicons" uib-btn-radio="'yes'">Ja</label>
								<label class="btn btn-default" ng-model="user.anonymicons" uib-btn-radio="'no'">Nej</label>
							</div>
						</td>
					</tr>
					<tr ng-if="myself.class >= 6">
						<td class="text-right tdBold alignMiddle">Maskera som klass</td>
						<td class="text-left">
							<div class="btn-group">
								<select class="form-control" ng-model="user.doljuploader" ng-options="i.id as i.name for i in maskClasses" style="width: 150px;"></select>
							</div>
						</td>
					</tr>
				</table>
			</uib-tab>
			<uib-tab>
			<tab-heading><i class="fa fa-user"></i> Konto</tab-heading>
				<table class="table table-striped" cellpadding="15">
					<tr>
						<td style="width: 200px;" class="text-right tdBold alignMiddle">Parkerad</td>
						<td class="text-left">
							<div class="btn-group">
								<label class="btn btn-default" ng-model="user.parkerad" uib-btn-radio="1">Ja</label>
								<label class="btn btn-default" ng-model="user.parkerad" uib-btn-radio="0">Nej</label>
							</div>
							<br />
							Du kan parkera ditt konto för att förhindra det från att bli borttaget pga inaktivitet om du åker bort på semester eller liknande. När kontot är parkerat kan du inte se alla sidor.
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Email-adress</td>
						<td class="text-left">
							<div ng-if="myself.class < 8">
								<input type="text" class="form-control" ng-model="user.email" disabled />
							För att ändra mail. Skicka ett Staff-PM med mailen du vill byta till och en anledning till bytet.
							</div>
							<div ng-if="myself.class >= 8">
								<input type="text" class="form-control" ng-model="user.email" />
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Nytt lösenord</td>
						<td class="text-left">
							<input type="password" class="form-control" ng-model="user.password" />
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Upprepa lösenordet</td>
						<td class="text-left">
							<input type="password" class="form-control" ng-model="user.passwordRepeat" />
						</td>
					</tr>
					<tr ng-show="user.password">
						<td class="text-right tdBold alignMiddle">Nuvarande lösenord</td>
						<td class="text-left">
							<input type="password" class="form-control" ng-model="user.previousPassword" />
						</td>
					</tr>
				</table>
			</uib-tab>
			<uib-tab ng-if="myself.class >= 8">
			<tab-heading><i class="fa fa-user-secret"></i> Admin</tab-heading>
				<table class="table table-striped" cellpadding="15">
					<tr>
						<td class="text-right tdBold alignMiddle" style="width:200px">Användarnamn</td>
						<td class="text-left">
							<input type="text" class="form-control" ng-model="user.username" />
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Custom title</td>
						<td class="text-left">
							<input type="text" class="form-control" ng-model="user.title" />
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Upladdat</td>
						<td class="text-left">
							<input type="text" class="form-control" ng-model="user.uploaded" />
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Nerladdat</td>
						<td class="text-left">
							<input type="text" class="form-control" ng-model="user.downloaded" />
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Fri leech till</td>
						<td class="text-left">
							<input type="text" class="form-control" ng-model="user.leechstart" />
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Bonuspoäng</td>
						<td class="text-left">
							<input type="text" class="form-control" ng-model="user.bonuspoang" />
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Invites</td>
						<td class="text-left">
							<input type="text" class="form-control" ng-model="user.invites" />
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Request slots</td>
						<td class="text-left">
							<input type="text" class="form-control" ng-model="user.reqslots" />
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Hjärtan</td>
						<td class="text-left">
							<input type="text" class="form-control" ng-model="user.hearts" />
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Inbjuden utav (användar-id)</td>
						<td class="text-left">
							<input type="text" class="form-control" ng-model="user.invited_by" />
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Statusnivå</td>
						<td class="text-left">
							<div class="btn-group">
								<select class="form-control" ng-model="user.class" ng-options="i.id as i.name for i in userClasses" style="width: 150px;"></select>
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Donerat</td>
						<td class="text-left">
							<div class="btn-group">
								<label class="btn btn-default" ng-model="user.donor" uib-btn-radio="'yes'">Ja</label>
								<label class="btn btn-default" ng-model="user.donor" uib-btn-radio="'no'">Nej</label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Forumbannad</td>
						<td class="text-left">
							<div class="btn-group">
								<label class="btn btn-default" ng-model="user.forumban" uib-btn-radio="1">Ja</label>
								<label class="btn btn-default" ng-model="user.forumban" uib-btn-radio="0">Nej</label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Invitebannad</td>
						<td class="text-left">
							<div class="btn-group">
								<label class="btn btn-default" ng-model="user.inviteban" uib-btn-radio="1">Ja</label>
								<label class="btn btn-default" ng-model="user.inviteban" uib-btn-radio="0">Nej</label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Uploadbannad</td>
						<td class="text-left">
							<div class="btn-group">
								<label class="btn btn-default" ng-model="user.uploadban" uib-btn-radio="'yes'">Ja</label>
								<label class="btn btn-default" ng-model="user.uploadban" uib-btn-radio="'no'">Nej</label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Passkey</td>
						<td class="text-left">
							<button ng-click="generatePasskey()" class="btn btn-default btn-xs">Generera ny passkey</button>
							<input type="text" class="form-control" readonly ng-model="::user.passkey" />
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Varna</td>
						<td class="text-left">
							<button class="btn btn-default btn-xs" ng-model="user.warned" uib-btn-checkbox btn-checkbox-true="'yes'" btn-checkbox-false="'no'">Varna användare</button>
							<select ng-show="user.warned == 'yes'" class="form-control" ng-model="user.warnDays">
								<option value="">- Välj varningstid - </option>
								<option value="1">1 dag</option>
								<option value="2">2 dag</option>
								<option value="3">3 dag</option>
								<option value="4">4 dag</option>
								<option value="7">7 dag</option>
							</select>
							<input ng-show="user.warned == 'yes'" type="text" class="form-control" placeholder="Anledning till varning" ng-model="user.warnReason" />
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Konto aktivt</td>
						<td class="text-left">
							<div class="btn-group">
								<label class="btn btn-default" ng-model="user.enabled" uib-btn-radio="'yes'">Ja</label>
								<label class="btn btn-default" ng-model="user.enabled" uib-btn-radio="'no'">Nej</label>
							</div>
							<input ng-show="user.enabled == 'no'" type="text" class="form-control" placeholder="Anledning till avstängning" ng-model="user.secret" />
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold">Adminlog</td>
						<td class="text-left">
							<textarea class="form-control" style="min-height: 200px;" ng-model="user.modcomment"></textarea>
						</td>
					</tr>
					<tr>
						<td class="text-right tdBold alignMiddle">Radera användare</td>
						<td class="text-left">
							<button ng-click="deleteUser()" class="btn btn-xs btn-danger">Radera</button>
						</td>
					</tr>
				</table>
			</uib-tab>
		</uib-tabset>

		<br />
		<div class="text-center">
			<button ng-disabled="editButtonDisabled" class="btn btn-primary" ng-click="SaveEditProfile()">Spara ändringar</button>
		</div>
		<br />
		<uib-alert style="text-align: center;" type="{{alert.type}}" close="closeAlert()" ng-show="alert != null">
		 	{{alert.msg}}
		</uib-alert>

	</div>
</div>
<br />