<table class="table table-condensed table-responsive table-striped table-hover table-nowrap table-text-center">
	<thead>
		<tr>
			<th style="width: 57px;"><a class="whiteLink" href="" ng-click="peersOrder='category'; reverseSort = !reverseSort" translate="FAQ.TYPE"></a></th>
			<th class="text-left"><a class="whiteLink" href="" ng-click="peersOrder='name'; reverseSort = !reverseSort" translate="TORRENTS.TORRENT"></a></th>
			<th class="hidden-sm hidden-xs" style="width: 80px;" translate="TORRENTS.PORT"></th>
			<th class="hidden-sm hidden-xs" style="width: 80px;"><a class="whiteLink" href="" ng-click="peersOrder='size'; reverseSort = !reverseSort" translate="TORRENTS.SIZE"></a></th>
			<th class="hidden-sm hidden-xs" style="width: 50px;"><a class="whiteLink" href="" ng-click="peersOrder='seeders'; reverseSort = !reverseSort"><i class="fa fa-arrow-up"></i></a></th>
			<th class="hidden-sm hidden-xs" style="width: 50px;"><a class="whiteLink" href="" ng-click="peersOrder='leechers'; reverseSort = !reverseSort"><i class="fa fa-arrow-down"></i></a></th>
			<th class="hidden-sm hidden-xs" style="width: 80px;"><a class="whiteLink" href="" ng-click="peersOrder='uploaded'; reverseSort = !reverseSort"><i class="fa fa-arrow-up"></i></a></th>
			<th class="hidden-sm hidden-xs" style="width: 80px;"><a class="whiteLink" href="" ng-click="peersOrder='downloaded'; reverseSort = !reverseSort"><i class="fa fa-arrow-down"></i></a></th>
		</tr>
	</thead>
	<tbody ng-show="::$ctrl.peers">
		<tr ng-repeat="peer in $ctrl.peers | orderBy:peersOrder:reverseSort track by $index">
			<td>
				<img class="categoryImage category{{ ::peer.category }}" />
			</td>
			<td class="text-left vert-align">
				<torrent torrent="::peer"></torrent>
			</td>
			<td class="hidden-sm hidden-xs" ng-bind-html="::peer.connectable | connectable"></td>
			<td class="hidden-sm hidden-xs" ng-bind="::peer.size | prettysize"></td>
			<td class="hidden-sm hidden-xs" ng-bind="::peer.seeders"></td>
			<td class="hidden-sm hidden-xs" ng-bind="::peer.leechers"></td>
			<td class="hidden-sm hidden-xs" ng-bind="::peer.uploaded | prettysize"></td>
			<td class="hidden-sm hidden-xs" ng-bind="::peer.downloaded | prettysize"></td>
		</tr>
	</tbody>
</table>
