<div class="modal-header text-center">
	<h2 class="modal-title">Jag har donerat!</h2>
</div>
<div class="modal-body">
	<table class="table">
		<tr>
			<td class="tdBold text-left" style="width: 175px;">Donerad summa</td>
			<td>
				<div class="input-group">
					<input type="text" class="form-control" ng-model="vm.settings.sum" placeholder="Summa" />
					<div class="input-group-addon">SEK</div>
				</div>
			</td>
		</tr>
		<tr>
			<td class="tdBold text-left">Typ</td>
			<td>
				<div class="btn-group">
					<label class="btn btn-default" ng-model="vm.settings.type" uib-btn-radio="2">Bitcoin</label>
					<label class="btn btn-default" ng-model="vm.settings.type" uib-btn-radio="1">Paysafe</label>
					<label class="btn btn-default" ng-model="vm.settings.type" uib-btn-radio="3">Paypal</label>
				</div>
			</td>
		</tr>
		<tr ng-show="vm.settings.type == 1">
			<td class="tdBold text-left">Paysafe PIN</td>
			<td><input type="text" class="form-control" ng-model="vm.settings.pin" placeholder="16 siffror PIN" /></td>
		</tr>
		<tr>
			<td class="tdBold text-left">Guldstjärna</td>
			<td>
				<div class="btn-group">
					<label class="btn btn-default" ng-model="vm.settings.goldstar" uib-btn-radio="1">Ja</label>
					<label class="btn btn-default" ng-model="vm.settings.goldstar" uib-btn-radio="0">Nej</label>
				</div>
			</td>
		</tr>
		<tr>
			<td class="tdBold text-left">Meddelande (valfritt)</td>
			<td><textarea ng-model="vm.settings.comment" class="form-control"></textarea></td>
		</tr>
	</table>
</div>
<div class="modal-footer">
	<div class="button-group text-center">
		<button class="btn btn-success" ng-class="{'disabled': submitDisabled}" ng-click="vm.confirm()">Skicka in</button>
		<button class="btn btn-default" ng-click="vm.cancel()">Avbryt</button>
	</div>
</div>
