<table class="table table-striped table-hover table-text-center">
	<thead>
		<tr>
			<th class="text-left">Användare</th>
			<th>Port</th>
			<th>Uppladdat</th>
			<th>Hastighet</th>
			<th>Nerladdat</th>
			<th>Hastighet</th>
			<th>Färdig</th>
			<th>Ansluten</th>
			<th>Klient</th>
		</tr>
	</thead>
	<tbody ng-show="::vm.peers">
		<tr ng-repeat="peer in ::vm.peers track by $index" ng-style="peer.userid == vm.myUserId && {backgroundColor: '#CCC'}">
			<td class="text-left"><a ui-sref="user({id: peer.userid, username: peer.username})"><b>{{ ::peer.username }}</b></a><span ng-if="::!peer.userid"><i>Anonym</i></span> <span ng-show="::peer.userid && peer.anonym == 'yes'"><i>(Anonym)</i></span></td>
			<td ng-bind-html="::peer.connectable | connectable"></td>
			<td ng-bind="::peer.uploaded | prettysize"></td>
			<td>{{ ::vm.calcUploadSpeed(peer) | prettysize }}/s</td>
			<td ng-bind="::peer.downloaded | prettysize"></td>
			<td> {{ ::vm.calcDownloadSpeed(peer) | prettysize }}/s</td>
			<td>{{ ::peer.to_go | peerCompleted:vm.torrentSize }}%</td>
			<td ng-bind="::peer.started | dateDifference"></td>
			<td ng-bind="::peer.agent | prettyAgent"></td>
		</tr>
	</tbody>
</table>