<table class="table table-striped table-hover table-text-center">
	<thead>
		<tr>
			<th class="text-left" translate="TORRENTS.USER"></th>
			<th translate="TORRENTS.PORT"></th>
			<th translate="TORRENTS.UPLOADED"></th>
			<th translate="TORRENTS.SPEED"></th>
			<th translate="TORRENTS.DOWNLOADED"></th>
			<th translate="TORRENTS.SPEED"></th>
			<th translate="TORRENTS.FINISHED"></th>
			<th translate="TORRENTS.CONNECTED"></th>
			<th translate="TORRENTS.CLIENT"></th>
		</tr>
	</thead>
	<tbody ng-show="::vm.peers">
		<tr ng-repeat="peer in ::vm.peers track by $index" ng-style="peer.userid == vm.myUserId && {backgroundColor: '#CCC'}">
			<td class="text-left"><a ui-sref="user({id: peer.userid, username: peer.username})"><b>{{ ::peer.username }}</b></a><span ng-if="::!peer.userid"><i translate="GENERAL.ANONYMOUS"></i></span> <span ng-show="::peer.userid && peer.anonym == 'yes'"><i>({{ 'GENERAL.ANONYMOUS' | translate }})</i></span></td>
			<td ng-bind-html="::peer.connectable | connectable"></td>
			<td ng-bind="::peer.uploaded | prettysize"></td>
			<td>{{ ::vm.calcUploadSpeed(peer) | prettysize }}/s</td>
			<td ng-bind="::peer.downloaded | prettysize"></td>
			<td> {{ ::vm.calcDownloadSpeed(peer) | prettysize }}/s</td>
			<td>{{ ::peer.to_go | peerCompleted:vm.torrentSize }}%</td>
			<td ng-bind="::peer.started | dateDifference"></td>
			<td ng-bind="::peer.agent | prettyAgent"></td>
		</tr>
	</tbody>
</table>
